/* -----------------------------------------------------------
	font-face Circular Std
----------------------------------------------------------- */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Book.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* -----------------------------------------------------------
	font-face SF Pro Rounded
----------------------------------------------------------- */
@font-face {
  font-family: "SF Pro Rounded Regular";
  src: url("../fonts/SF-Pro-Rounded-Regular.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Rounded Medium";
  src: url("../fonts/SF-Pro-Rounded-Medium.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Bold.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Black.otf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: SVN-Bango;
  src: url("../fonts/SVN-Bango.otf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}
/* -----------------------------------------------------------
	font-face 
----------------------------------------------------------- */
@font-face {
  font-family: "BeVietnamPro-Black";
  src: url("../fonts/BeVietnamPro-Black.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "BeVietnamPro-Bold";
  src: url("../fonts/BeVietnamPro-Bold.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "BeVietnamPro-Medium";
  src: url("../fonts/BeVietnamPro-Medium.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "BeVietnamPro-Regular";
  src: url("../fonts/BeVietnamPro-Regular.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Bold.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Black.otf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}
/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Circular Std", serif;
  color: #1A202C;
}

img {
  max-width: 100%;
}

a,
button,
.btn {
  transition: all 0.4s ease;
}

.over {
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.list-style-none {
  list-style: none !important;
}

.text-primary {
  color: #ff6d03 !important;
}

.common-primary-title {
  font-size: 44px;
  color: #ffc700;
  text-align: center;
  font-family: SF Pro Rounded;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 145.455% */
  text-transform: uppercase;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, 2px 2px #000, 4px 4px 4px rgba(0, 0, 0, 0.45);
}
@media only screen and (max-width: 991px) {
  .common-primary-title {
    font-size: 32px;
    line-height: 44px;
  }
}

.btn-slider {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border: 2px solid #fff;
  background-color: #ffb700;
  position: absolute;
  top: 50%;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn-prev {
  left: 30px;
}

.btn-next {
  right: 30px;
}

/*# sourceMappingURL=common.css.map */
