html,body {
  width: 100%;
}
.block {
  padding: 3rem 0;
}
.banner {
    position: relative;
}
.bg-banner-left {
  width: 45%;
  height: 81%;
  background: #FF6D03;
  border-radius: 500px 0px 0px 0px;
  -webkit-border-radius: 500px 0px 0px 0px;
  -moz-border-radius: 500px 0px 0px 0px;
  -ms-border-radius: 500px 0px 0px 0px;
  -o-border-radius: 500px 0px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
}
.bg-banner-left:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-image: url(../images/product/bg-banner-3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.banner .title-lg {
  font-size: 3rem;
  max-width: 556px;
}
.info-intro {
  margin: 1rem 0;
  position: relative;
  padding-bottom: 2.75rem;
}
.info-intro:after {
  width: 74%;
  height: 99%;
  position: absolute;
  top: 7px;
  left: 0;
  background: #2971F0;
  border-radius: 0px 0px 500px 0px;
  -webkit-border-radius: 0px 0px 500px 0px;
  -moz-border-radius: 0px 0px 500px 0px;
  -ms-border-radius: 0px 0px 500px 0px;
  -o-border-radius: 0px 0px 500px 0px;
  content: "";
  z-index: 2;
}

.info-intro > .container {
  color: #fff;
  position: relative;
  z-index: 3;
}
.list-desc-banner {
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.icon-check {
  font-size: 1rem;
  width: 25px;
  height: 25px;
  min-width: 25px;
  background: #48BB78;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.name-desc-banner {
  font-size: 24px;
}
.desc-banner {
  font-size: 18px;
}

.circle-banner {
  width:  120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

}
.image-banner {
  position: relative;
}
.image-banner:after {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url(../images/product/circle-banner2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 20%;
  content: "";
}
.image-banner > img {
  position: relative;
  max-height: 645px;
  z-index: 3;
}
@media only screen and (max-width: 1500px) {
  .bg-banner-left {
    height: 81%;
  }
}
@media only screen and (max-width: 1400px) {
  .image-banner:after {
    right: 5%
  }
  .bg-banner-left {
    height: 72%;
  }
}
@media only screen and (max-width: 1200px) {

  .bg-banner-left {
    height: 57%;
  }
}
@media only screen and (max-width: 1060px) {
  .circle-banner {
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .bg-banner-left  {
    display: none;
  }
  .banner .title-lg {
    max-width: none;
  }
  .info-intro:after {
    background: transparent;
    background-image: url(../images/product/bg-banner-2.png);
    background-position: center center;
    background-size: cover;
  }
  .info-intro {
    background: linear-gradient(to top,#FF6C02
    100%, #FFB700
    100%);
  }
  .circle-banner, .image-banner:after {
    display: none;
  }
  .banner .title-lg {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 460px) {
  .banner .title-lg {
    font-size: 2rem;
  }
}

/* cource */
.cource {
  padding: 3rem 0;
}
.cource-item:last-child {
  padding-right: 0;
}
.cource-item {
  padding: 0 .75rem;
}
.cource-content {
  padding: 2.5rem 2rem 2.5rem .1rem;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.cource-content:after {
  width: 100%;
  height: 100%;
  content: "";
  background: var(--bg-color);
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
}
.cource .container .row {
  margin-top: 2.5rem !important;
}
.cource-content > img {
  object-fit: contain;
  width: 144px;
  height: 144px;
}
.info-course, .cource-content > img {
  position: relative;
  z-index: 2;
}
.time {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.age {
  font-size: 20px;
}
.price-course {
  font-weight: 400;
  font-size: 24px;
  color: #FF6D03;
}
.btn-buy {
  min-width: 138px;
  margin: 1rem 0;
  border: none;
  font-size: 18px;
  padding: .657rem 2.239rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background: var(--btn-color);
  color: #fff;
}
@media only screen and (max-width: 992px) {
  .cource-item:last-child {
    padding-right: 1rem;
  }
  .cource-item {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-buy {
    padding: 0.657rem 1.5rem;
    min-width: 120px;
  }
}
@media only screen and (max-width: 340px) {
  .btn-buy {
    padding: 0.657rem 1.5rem;
    min-width: 120px;
  }
}


/* timeline */
.timeline {
  position: relative;
}
.timeline:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background-image: url(../images/product/bg-timeline.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.slide-item.slick-slide {
  display: flex;
  justify-content: center;
  padding: 0 12px;
}
.image-timeline {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}
.image-timeline > img {
  width: 96px;
  height: 85px;
  position: absolute;

}
.image-timeline > img:first-child {
  top: 0;
  right: 21.46%;
}
.image-timeline > img:last-child {
  top: 20%;
  left: 13.3%;
}
.image-timeline > img:nth-child(2) {
  right: 15%;
  bottom: 0;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}
.con-about-milestone .container:before {
  display: none;
}
.con-about-milestone {
  margin-bottom: 0 !important;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}
.timeline-content {
  width: 100%;
  height: 100%;
  background: #FFB700;
  padding-top: 7.3125rem;
  position: relative;
}
.timeline .title-block {
  font-size: 2rem;
  max-width: 725px;
  margin-bottom: 3.6875rem !important;
  line-height: 40.48px;
}
.title-number {
  display: inline-block;
  gap: 10px;
  padding: 7px 10px;
  margin: .1rem 0;
  background:  #FF6D03;
  color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.con-about-milestone {
  position: relative;
  z-index: 5;
}
.con-about-milestone .box-milestone.c-violet {
  border-left-color: violet;
}

.con-about-milestone .box-milestone.c-purple {
  border-left-color: purple;
}
.con-about-milestone .box-lines .circle-purple {
  border: 2px solid violet;
}
.con-about-milestone .box-lines .circle-violet {
  border: 2px solid violet;
}
.con-about-milestone .box-lines .circle-purple:after {
  background: purple;
}
.con-about-milestone .box-lines .circle-violet:after {
  background: violet;
}
.con-about-milestone .box-milestone.c-violet .date {
  color: violet
}
.con-about-milestone .box-milestone.c-purple .date {
  color: purple
}
.con-about-milestone .box-lines .box-item.item-1 {
  height: 79.827458%;
}
.con-about-milestone .box-lines .box-item.item-5 {
  background-image: url(../images/product/timeline5.png);
}
.con-about-milestone .box-lines .box-item.item-2 {
  left: 17.968553%;
  height: 55.67718%;
}
.con-about-milestone .box-lines .box-item.item-3 {
  left: 30.342767%;
  height: 87%;
}
.con-about-milestone .box-lines .box-item.item-4 {
  left: 39.342767%;
  height: 50.70872%;
}
.con-about-milestone .box-lines .box-item.item-5 {
  left: 52.342767%;
  height: 80.949907%;
}
.con-about-milestone .box-lines .box-item.item-6 {
  right: 36.518868%;
  height: 54.67718%;
}
.con-about-milestone .box-lines .box-item.item-7 {
  right: 24%;
  left: auto;
  height: 85.8275%;
  background-image: url(../images/product/timeline7.svg);
}
.con-about-milestone .box-lines .box-item.item-8 {
  right: 15%;
  left: auto;
  height: 48.827458%;
  background-image: url(../images/product/timeline8.svg);
}

.con-about-milestone .box-milestone .date {
  font-size: 30px;
}
.timeline
.con-about-milestone .box-milestone {
  width: auto;
  min-width: 200px;
}

.con-about-milestone .box-item.item-3 .box-milestone {
  min-height: 169px;
}
.con-about-milestone .box-milestone .txt {
  font-size: 1rem;
}
@media only screen and (max-width: 1200px) {
  .image-timeline > img:last-child {
    left: 7%;
  }
}
@media only screen and (max-width: 1080px) {
  .timeline .con-about-milestone .box-milestone {
    padding: 1rem;
    min-width: 170px;

  }
}
@media only screen and (max-width: 992px) {
  .image-timeline > img:last-child {
    top: 15%
  }
  .timeline .con-about-milestone .box-milestone  {
    min-width: 300px;
    min-height: 181px;
  }

}
@media only screen and (max-width: 768px) {
  .timeline .title-block {
    font-size: 1.5rem;
  }
  .timeline:before {
    display: none;
  }
  .image-timeline {
    display: none;
  }
  .timeline-content {
    padding-top: 3.4375rem;
    padding-bottom: 3.4375rem;
  }
  .con-about-milestone {
    padding: 0;
  }
  .timeline .title-block {
    margin-bottom: .9rem !important;
  }
  .timeline .con-about-milestone .box-milestone  {
    min-width: 160px;
  }
}
@media only screen and (max-width: 440px) {
  .timeline .title-block {
    max-width: 330px;
  }
}
/* timeline */

/* experience */
.title-block {
  margin: 0;
}
.experience-item {
  padding: 0 1.5rem;
}
.experience-content {
  padding: 0 1.3rem;
  border-bottom: 1px solid #FF6D03;
  position: relative;
  line-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 403px;
}
.experience-item .experience-content .image-experience > img {
  object-fit: contain;
}
.image-experience {
  height: 380px;
  position: relative;
}
 .experience-item .experience-content .image-experience > img {
  width: 100%;
  height: 100%;
}
.experience-item .experience-content .image-experience {
  width: max-content;
  overflow: hidden;
  position: relative;
}
.experience-item:nth-child(1) .experience-content .image-experience > img {
  position: relative;
  z-index: 2;
  object-fit: cover;
}

.experience-item:nth-child(2) .experience-content .image-experience > img:after {
  width: 100%;
  height: 100%;
  content: "";
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}
.experience-content .image-experience > video {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 95%;
  height: 105%;
  object-fit: cover;
  transform: translate(-50%,2px);
  -webkit-transform: translate(-50%,2px);
  -moz-transform: translate(-50%,2px);
  -ms-transform: translate(-50%,2px);
  -o-transform: translate(-50%,2px);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;

}
.icon-play {
  width: 62px;
  min-width: 62px;
  min-height: 62px;
  cursor: pointer;
  height: 62px;
  background: rgba(26 32 44 / 67%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.experience > img {
  max-width: 190px;
  object-fit: contain;
  margin: 13px 2rem;
}
.image-gif {
  position: absolute;
  bottom: -.7rem;
  right: 6.7rem;
}
.image-gif > img {
  max-width: 69px;
}
.experience .name-experience {
  font-size: 18px;
  font-weight: normal;
}
.experience-item .text-primary {
  font-size: 24px;
}
.experience-item .text-primary, .experience .name-experience {
  line-height: 1.2;
}
@media only screen and (max-width: 1200px) {
  .experience-item .experience-content .image-experience > img  {
    object-fit: cover;
  }
  .image-gif {
    right: 1.7rem;
  }
}
@media only screen and (max-width: 992px) {
  .experience-item {
    padding: 0 .75rem;
    margin: 1rem 0;
  }
  .experience-content {
    padding: 0 1rem;
  }
  .experience .name-experience {
    min-height: 43.2px;
  }
}
@media only screen and (max-width: 767px) {
  .experience-item .experience-content .image-experience > img  {
    object-fit: contain;
  }
  .image-gif {
    right: 10.1rem;
  }
}
@media only screen and (max-width: 460px) {
  .image-gif {
    right: 7.1rem;
  }
}
/* download */



.download .container {
  padding: 3.125rem 1.8125rem;
  background:  #2971F0;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download .container > img {
  object-fit: contain;
  width: 193px;
  height: 245px;
}
.download-block-right .title-block {
  margin-bottom: 2rem;
}
.download-link {
  margin-right: 1.25rem;
}
.download-link > img {
  max-width: 216px;
  height: 64px;
  margin: 1rem 0;
}

@media only screen and (max-width: 992px) {
  .download .container {
    flex-direction: column-reverse;

    align-items: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 3rem 1rem;
}
.download-block-right {
  text-align: center;
}
}