@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-family: Lexend Light;
}
img {
  max-width: 100%;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.container {
  @include mq(xxl) {
    min-width: 1600px;
    max-width: 1600px;
  }
}

