@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font_main;
  color: $body-color;
}
img {
  max-width: 100%;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.container {
  @include mq(xxl) {
    max-width: 1400px;
  }
}
.list-style-none {
  list-style: none !important;
}
.text-primary {
  color: $primary !important;
}

.common-primary-title {
  // -webkit-text-stroke: 1.5px #000; /* Điều chỉnh kích thước và màu stroke ở đây */
  font-size: 44px;
  color: #ffc700;
  text-align: center;
  font-family: SF Pro Rounded;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 145.455% */
  text-transform: uppercase;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, 2px 2px #000,
    4px 4px 4px rgba(0, 0, 0, 0.45);

  @include mq(max_md) {
    font-size: 32px;
    line-height: 44px;
  }
}
.btn-slider {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border: 2px solid #fff;
  background-color: #ffb700;
  position: absolute;
  top: 50%;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn-prev {
  left: 30px;
}

.btn-next {
  right: 30px;
}
