@charset "utf-8";
@import "variables";
@import "fonts";
@import "mixins";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font_main;
  color: $body-color;
}
img {
  max-width: 100%;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.container {
  @include mq(xxl) {
    max-width: 1400px;
  }
}
.list-style-none {
  list-style: none !important;
}
.text-primary {
  color: $primary !important;
}

.common-primary-title {
  // -webkit-text-stroke: 1.5px #000; /* Điều chỉnh kích thước và màu stroke ở đây */
  font-size: 44px;
  color: #ffc700;
  text-align: center;
  font-family: SF Pro Rounded;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 145.455% */
  text-transform: uppercase;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, 2px 2px #000,
    4px 4px 4px rgba(0, 0, 0, 0.45);

  @include mq(max_md) {
    font-size: 32px;
    line-height: 44px;
  }
}
.btn-slider {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border: 2px solid #fff;
  background-color: #ffb700;
  position: absolute;
  top: 50%;
  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn-prev {
  left: 30px;
}

.btn-next {
  right: 30px;
}

.list-teach-wrapper {
  width: 100%;
  border: 1px solid red;
}

.list-teach-block {
  width: 100%;
  height: auto;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    background-size: cover;
    width: 740px;
    height: 82px;
    background-image: url("../images/text-background-9.png");
    background-position: center center;
    background-repeat: no-repeat;

    @include mq(max_md) {
      width: 332px;
      height: 68px;
      background-image: url("../images/text-background-10.png");
    }

    .text-title {
      color: #1a1a2c;
      text-align: center;
      font-family: SF Pro Rounded Black;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;

      @include mq(max_md) {
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
      }
    }

    .country-flag {
      min-width: 44px;
      max-width: 44px;
      height: 44px;
      margin-right: 10px;
      background: #ffc700;
      display: flex;
      border: 2px solid #1a202c;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 0px 0px #000, 4px 4px 4px 0px rgba(0, 0, 0, 0.45);

      .flag-image {
        min-width: 36px;
        max-width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .slider-wrapper {
    width: 100%;
    overflow: hidden;
    border: 1px solid green;
    position: relative;
    display: flex;
    margin-top: 40px;
    justify-content: center;

    @include mq(max_md) {
      margin-top: 30px;
    }
    .native-teacher-list {
      max-width: 1296px;
      display: flex;
      .slider-item {
        width: 300px;
        min-width: 300px;
        height: auto;
        background-color: #fff0da;
        margin: 0px 12px;
        padding: 32px 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 32px;

        .teacher-image-wrapper {
          width: 192px;
          height: 192px;
          position: relative;
          margin-bottom: 12px;
          .teacher-image {
            min-width: 192px;
            max-width: 192px;
            border-radius: 50%;
            border: 2px solid #ffb700;
            height: 192px;
            object-fit: cover;
          }

          .flag-image {
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #ffb700;
            object-fit: cover;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
        .teacher-name {
          text-align: center;
          font-family: SF Pro Rounded;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          color: #ff6d03;
          line-height: normal;
          margin-bottom: 12px;
        }

        .teacher-info-wrapper {
          display: flex;
          align-items: center;
          font-family: SF Pro Rounded;
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          color: #1a202c;
          margin-bottom: 12px;
          .label {
            font-weight: bold;
            margin-right: 6px;
          }
          .value {
            min-width: max-content;
          }

          .certificate {
            text-transform: uppercase;
          }

          .certificate-image {
            min-width: 110px;
            height: 156px;
            max-width: 110px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.common-list-slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .common-list-slider {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .common-list-slider-item {
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}
