/* -----------------------------------------------------------
	font-face Circular Std
----------------------------------------------------------- */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Book.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.otf");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* -----------------------------------------------------------
	font-face SF Pro Rounded
----------------------------------------------------------- */

@font-face {
  font-family: "SF Pro Rounded Regular";
  src: url("../fonts/SF-Pro-Rounded-Regular.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Rounded Medium";
  src: url("../fonts/SF-Pro-Rounded-Medium.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Bold.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Black.otf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: SVN-Bango;
  src: url("../fonts/SVN-Bango.otf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

/* -----------------------------------------------------------
	font-face 
----------------------------------------------------------- */

@font-face {
  font-family: "BeVietnamPro-Light";
  src: url("../fonts/BeVietnamPro-Light.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BeVietnamPro-Black";
  src: url("../fonts/BeVietnamPro-Black.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: "BeVietnamPro-Bold";
  src: url("../fonts/BeVietnamPro-Bold.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "BeVietnamPro-Medium";
  src: url("../fonts/BeVietnamPro-Medium.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "BeVietnamPro-Regular";
  src: url("../fonts/BeVietnamPro-Regular.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Bold.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Rounded Black";
  src: url("../fonts/SF-Pro-Rounded-Black.otf");
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}
