@charset "utf-8";
@import "variables";
@import "mixins";


.introduce-wrapper {
  width: 100%;
  height: 760px;
  background-image: url('../images/intro-background-2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 24px;
  position: relative;
  margin-bottom: 90px;

  @include mq(max_md) {
    height: 856px;
    width: 100%;
    margin-bottom: 45px;
    background-image: url('../images/banner-background-mb.png');
    ;
  }


  .introduce-info {
    width: 100%;
    max-width: 720px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 8px;
    ;


    @include mq(max_md) {
      max-width: 275px;
      margin: 16px auto 0px;
    }


    .introduce-title {
      font-style: normal;
      font-size: 48px;
      line-height: 61px;
      text-align: center;
      color: #FFFFFF;
      font-family: 'Circular Std';
      margin: 0;
      padding: 0;
      margin-bottom: 10px;

      @include mq(max_md) {
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }
    }

    .text-yellow {
      color: #FFD600
    }

    .introduce-description {
      font-style: normal;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      color: #FFFFFF;
      margin: 0;
      padding: 0;

      @include mq(max_md) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .list-mobile-slide {
    position: absolute;
    left: 39%;
    top: 27%;
    width: 496px;
    height: 850px;

    @media only screen and (max-width: 1440px) {
      left: 35%;
    }

    @include mq(max_md) {
      width: 100%;
      height: 520px;
      left: 15px;
      top: 34%;
    }
  }

  .intro-image {
    width: 100%;
    height: 100%;

    img {
      display: block;
      min-width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

  }
}

.reson-block-wrapper {
  width: 100%;
  height: auto;

  .reson-intro {
    width: 100%;
    height: auto;
    margin-bottom: 70px;
    max-width: 725px;

    @include mq(max_md) {
      margin-bottom: 0;
      max-width: 100%;

    }

    .reson-title {
      font-style: normal;

      font-size: 48px;
      line-height: 61px;
      /* identical to box height */


      /* #FF6D03 */

      color: #FF6D03;
      margin: 0;
      padding: 0;

      @include mq(max_md) {
        font-style: normal;

        font-size: 32px;
        line-height: 40px;
      }
    }

    .reson-sub-title {
      font-style: normal;

      font-size: 32px;
      line-height: 40px;
      margin: 0;
      padding: 0;

      /* Gray:900 */

      color: #1A202C;
      margin: 12px 0px;

      @include mq(max_md) {
        margin: 8px 0px;

        font-size: 24px;
        line-height: 30px;
      }
    }

    .reson-description {
      margin: 0;
      padding: 0;
      font-style: normal;

      font-size: 18px;
      line-height: 26px;
      /* or 144% */


      /* Gray:700 */

      color: #4A5568;

      @include mq(max_md) {

        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .list-reson-wrapper {
    width: 100%;
    height: auto;
    display: flex;


    .list-reson {
      max-width: 840px;
      min-width: 625px;
      max-width: 625px;
      margin-right: 60px;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
        ;
      }

      .reson-item {

        &:first-of-type {
          .number {
            color: #FF6D03;
          }
        }

        &:nth-of-type(2) {

          .number {
            color: #FFB700 !important;
          }

          .dash {
            background-color: #FFB700 !important;
            ;
          }

          .progress-wrapper {
            .active {
              width: 25% !important;
            }
          }

        }

        &:nth-of-type(3) {

          .number {
            color: #2971F0 !important;

          }

          .dash {
            background-color: #2971F0 !important;
            ;
          }

          .progress-wrapper {
            .active {
              width: 80% !important;
            }
          }

        }

        .collapsible {
          background-color: #fff;
          color: white;
          cursor: pointer;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 16px 20px 4px;
          border: none;
          border-bottom: 1px solid #EDF2F7;

          .collapse-title {
            display: flex;
            align-items: center;

            .number {
              min-width: 36px;
              max-width: 36px;
              height: 80px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-style: normal;

              font-size: 64px;
              line-height: 81px;
              margin-right: 20px;
              color: #FF6D03;

              @include mq(max_sm) {

                font-size: 32px;
                line-height: 40px;
              }
            }

            .title-wrapper {
              display: flex;
              align-items: center;
              margin: 0;
              padding: 0;

              .dash {
                display: inline-block;
                border: none;
                min-width: 2px;
                max-width: 2px;
                height: 23px;
                background-color: #FF6D03;
                margin-right: 20px;

                @include mq(max_md) {
                  display: none;
                }
              }

              .title {
                margin: 0;
                padding: 0;
                font-style: normal;

                font-size: 24px;
                display: inline-block;
                ;
                line-height: 30px;
                color: #1A202C !important;
                max-width: 504px;


                @include mq(max_sm) {
                  max-width: 273px;
                  font-style: normal;

                  font-size: 20px;
                  line-height: 25px;
                }
              }
            }

          }

          .icon-arrow {
            display: block;
            width: 32px;
            height: 32px;
            min-width: 32px;
            min-height: 32px;
            display: none;

            @include mq(max_md) {
              display: block;
              width: 24px;
              height: 24px;
              min-width: 24px;
              min-height: 24px;
            }
          }

          .collapse-icon {
            display: none;

            @include mq(max_md) {
              display: block;
            }

            .icon-arrow-up {
              display: none;
            }
          }

          @include mq(max_sm) {
            padding: 16px 0px;
          }
        }

        .active {
          border: none;
          padding-bottom: 0;
        }

        .active,
        .collapsible:hover {}

        .collapsible:after {}

        .active:after {}

        .progress-wrapper {
          width: 100%;
          height: 2px;
          display: flex;

          @include mq(max_md) {
            display: none;
          }

          .active {
            width: 60%;
            height: 100%;
            background-color: #FF6D03
          }

          .un-active {
            flex-grow: 1;
            background-color: #E2E8F0;
          }
        }

        .reson-content {
          max-height: 0;
          overflow: hidden;
          max-width: 100%;

          .image-qa-mobile {
            display: none;

            @include mq(max_md) {
              display: block;
              width: 100%;
              max-width: 375px;
              height: 342px;
              margin: 16px auto;
              margin-top: 32px;
            }
          }

          .content-detail {
            padding: 0;
            background-color: #fff;
            padding-left: 84px;

            @include mq(max_sm) {
              padding: 0;
            }

            .line {
              margin: 0;
              padding: 0;
              font-style: normal;

              font-size: 18px;
              line-height: 23px;
              margin-bottom: 24px;
              color: #4A5568;
              max-width: 504px;

              @include mq(max_sm) {

                font-size: 16px;
                line-height: 22px;
                margin-bottom: 12px;
                min-width: 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    .reson-image {
      @include mq(max_md) {
        display: none;
      }

      img {
        display: block;
        min-width: 567px;
        max-width: 567px;
        height: 576px;
      }
    }
  }
}

.speak-more-block {
  width: 100%;
  height: auto;
  background: #FFB700;
  height: auto;
  padding: 30px 0px 23px;
  margin: 118px 0px;

  @include mq(max_md) {
    height: auto;
    padding: 44px 0px 40px;
    margin: 40px 0px;
  }

  .speak-more-wrapper {
    display: flex;
    align-items: center;

    @include mq(max_md) {
      flex-direction: column;
    }

  }

  .speak-more-content {
    width: 620px;
    margin-right: 195px;

    @include mq(max_md) {
      width: 100%;
      margin-right: 0;
    }

    .title {
      margin: 0;
      padding: 0;
      max-width: 580px;
      font-style: normal;

      font-size: 48px;
      line-height: 61px;

      /* Gray:900 */

      color: #1A202C;

      @include mq(max_md) {

        font-size: 24px;
        line-height: 30px;
      }
    }

    .description {
      font-style: normal;

      font-size: 24px;
      line-height: 32px;

      color: #1A202C;
      margin: 0;
      padding: 0;
      margin: 16px 0px 32px;

      @include mq(max_md) {

        font-size: 16px;
        line-height: 22px;
        margin: 8px 0px 24px;
      }
    }

    .btn-view {
      min-width: 167px;
      max-width: 167px;
      border: none;
      text-decoration: none;
      display: block;
      padding: 12px 16px;
      font-style: normal;

      font-size: 18px;
      line-height: 23px;
      /* identical to box height */
      color: #FFFFFF;
      background: #2971F0;
      border-radius: 16px;
    }
  }

  .speak-more-image {
    display: block;
    max-width: 360px;
    height: 385px;
    object-fit: cover;

    @include mq(max_md) {
      max-width: 309px;
      height: 330px;
      margin-top: 36px;
    }
  }
}


.list-advantages-block {
  width: 100%;
  height: auto;
  margin-top: 94px;

  @include mq(max_md) {
    margin-top: 60px;
  }

  .title {
    font-style: normal;

    font-size: 48px;
    line-height: 61px;
    color: #FF6D03;

    @include mq(max_md) {

      font-size: 32px;
      line-height: 40px;
    }
  }

  .description {
    font-style: normal;

    font-size: 32px;
    line-height: 40px;
    max-width: 743px;
    ;


    color: #1A202C;
    margin-bottom: 50px;

    @include mq(max_md) {

      font-size: 24px;
      line-height: 30px;
      max-width: 100%;
      margin: 8px 0px 16px;
    }

  }

  .list-advantages {
    width: 100%;

    .advantages-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 48px;
      margin-bottom: 40px;

      @include mq(max_md) {
        flex-direction: column;
        justify-content: flex-start;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }

      .label-wrapper {
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mq(max_md) {
          width: 85px;
        }

        .mask {
          display: block;
          margin-top: 10px;
        }

        .number-wrapper {
          width: 100%;
          background-color: #FF6D03;
          color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-top: 10px;
          border-radius: 24px;
          position: relative;

          @include mq(max_md) {
            padding-top: 5px;
            border-radius: 16px;
            height: 60px;
            ;
          }

          &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -16px;
            display: block;
            width: 0;
            height: 0;
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #FF6D03;

            @include mq(max_md) {
              transform: translate(-50%, 0%);
              border-left: 16px solid transparent;
              border-right: 16px solid transparent;
              border-top: 16px solid #FF6D03;
              bottom: -10px;
            }
          }

          .label {

            font-size: 18px;
            line-height: 23px;
            /* identical to box height */

            text-align: center;

            color: #FFFFFF;

            @include mq(max_md) {

              font-size: 14px;
              line-height: 18px;
            }
          }

          .number {
            font-style: normal;
            font-size: 40px;
            line-height: 51px;
            /* identical to box height */

            text-align: center;

            color: #FFFFFF;

            @include mq(max_md) {
              font-style: normal;

              font-size: 24px;
              line-height: 30px;
              text-align: center;
            }
          }
        }


      }

      .content-detail {
        min-width: 50%;
        max-width: 50%;
        margin-right: 12px;

        @include mq(max_md) {
          max-width: 100%;
        }

        .content-title {
          margin: 0;
          padding: 0;
          font-style: normal;

          font-size: 32px;
          line-height: 40px;
          color: #1A202C;
          margin-bottom: 8px;

          @include mq(max_md) {

            font-size: 20px;
            line-height: 25px;
            margin-bottom: 8px;

          }
        }

        .content-description {
          font-style: normal;
          font-size: 18px;
          line-height: 23px;
          color: #4A5568;

          @include mq(max_md) {
            font-style: normal;
            font-size: 16px;
            line-height: 22px;

          }
        }

        .list-content-detail {
          list-style: none;
          margin: 0;
          padding: 0;
          margin-top: 12px;

          .txt-primary-hightlight {
            color: #FF6D03;
          }

          .txt-secondary-hightlight {
            color: #2971F0
          }

          .txt-warning-hightlight {
            color: #FF7A00;
          }


          .has-children-content {
            flex-direction: column;


            .sub-icon {
              margin-right: 8px;
              position: relative;
              top: 4px;
            }
          }

          .list-content-detail-item {
            display: flex;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: #4A5568;

            @include mq(max_md) {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
            }

            .main-content {
              display: flex;
            }

            .dot {
              min-width: 4px;
              max-width: 4px;
              min-height: 4px;
              max-height: 4px;
              display: inline-flex;
              border: none;
              background-color: #4A5568;
              border-radius: 50%;
              margin-right: 12px;
              position: relative;
              top: 16px;
              left: 0;
            }

            .content {
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 32px;
            }
          }
        }

      }


      .box-advantage-image {
        width: 50%;
        height: auto;


        @include mq(max_md) {
          width: 100%;
          margin-bottom: 12px;
        }

        img {
          width: 100%;
          // object-fit: cover;
        }
      }

      &:nth-of-type(1) {
        background-color: rgba(255, 109, 3, 0.1);
        padding: 64px 0px 74px 72px;

        .box-advantage-image {
          margin-right: 20px;
        }

        img {
          display: block;
          margin-right: 20px;

          @include mq(max_md) {
            height: 144px;
            margin-bottom: 20px;
            ;
          }
        }

        @include mq(max_md) {
          padding: 32px 0px 32px 16px;
          flex-direction: column-reverse;
        }

      }

      &:nth-of-type(2) {
        background-color: rgba(41, 113, 240, 0.1);
        padding: 40px 96px 40px 36px;
        flex-direction: row-reverse;

        img {
          display: block;
          min-width: 544px;
          max-width: 544px;
          height: 574px;
          object-fit: cover;

          @include mq(max_md) {
            min-width: 273px;
            max-width: 273px;
            height: 283px;
            margin-bottom: 30px;
            ;
          }
        }

        .number-wrapper {
          background-color: #2971F0 !important;

          &::after {
            border-top: 20px solid #2971F0 !important;
          }
        }

        @include mq(max_md) {
          padding: 15px 30px 25px 16px;
          flex-direction: column-reverse;
        }

      }

      &:nth-of-type(3) {
        background-color: rgba(255, 183, 0, 0.1);
        padding: 39px 33px 45px 72px;

        img {
          display: block;
          min-width: 578px;
          max-width: 578px;
          height: 528px;
          object-fit: cover;

          @include mq(max_md) {
            min-width: 311px;
            max-width: 311px;
            height: 285px;
            margin-bottom: 32px;
          }
        }

        .number-wrapper {
          background-color: #FFB700 !important;

          &::after {
            border-top: 20px solid #FFB700 !important;
          }
        }

        @include mq(max_md) {
          padding: 40px 16px 25px 16px;
          flex-direction: column-reverse;
        }
      }


      &:nth-of-type(4) {
        background-color: rgba(72, 187, 120, 0.1);
        padding: 56px 0px 56px 124px;
        flex-direction: row-reverse;

        img {
          display: block;
          min-width: 428px;
          max-width: 428px;
          height: 417px;
          object-fit: cover;

          @include mq(max_md) {
            min-width: 310px;
            max-width: 310px;
            height: 302px;
            margin-bottom: 32px;
          }
        }

        .number-wrapper {
          background-color: #48BB78 !important;

          &::after {
            border-top: 20px solid #48BB78 !important;
          }
        }

        @include mq(max_md) {
          padding: 22px 16px 25px 16px;
          flex-direction: column-reverse;
        }
      }
    }
  }

}


.home-list-news-2 {
  margin-bottom: 120px;

  @include mq(max_md) {
    margin-bottom: 60px;
  }
}

.home-list-news-wrapper {
  width: 100%;
  margin-top: 44px;

  @include mq(max_md) {
    margin-top: 24px;
    overflow-x: auto;
  }

  .title {
    font-style: normal;

    font-size: 32px;
    line-height: 40px;

    /* Gray:900 */

    color: #1A202C;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;

    @include mq(max_md) {
      font-style: normal;

      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
      ;
    }

  }

  .home-list-news {
    display: flex;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    .home-news-item {
      min-width: 300px;
      max-width: 300px;
      display: block;
      margin: 0;
      padding: 0;
      height: auto;
      width: calc((100% - 24px) / 4);
      margin-right: 24px;

      &:last-of-type {
        margin-right: 0px;

        @include mq(max_md) {
          margin-right: 24px !important;
        }
      }

      @include mq(max_md) {
        max-width: 244px;
      }

      .news-image {
        width: 100%;
        max-height: 182px;
        object-fit: cover;
        display: block;

        @include mq(max_md) {
          max-width: 100%;
          min-width: 100%;
        }
      }

      .news-detail {
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .news-title {
          margin: 0;
          padding: 0;
          font-style: normal;

          font-size: 18px;
          line-height: 26px;
          /* or 144% */


          /* Gray:900 */

          color: #1A202C;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;

          @include mq(max_md) {
            font-size: 16px;
            list-style: 24px;
          }
        }

        .source {
          font-style: normal;

          font-size: 16px;
          line-height: 20px;

          /* Gray:600 */

          color: #718096;

          @include mq(max_md) {
            font-size: 12px;
            list-style: 18px
          }
        }
      }

    }
  }
}


.con-effective-title {
  font-style: normal;

  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding: 0;

  color: #FFFFFF;
  margin-bottom: 40px;

  @include mq(max_md) {

    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 24px;
    ;
  }
}



.con-effective-customer {
  width: 100%;
  height: auto;
  background-color: #FF6D03;

  @include mq(max_md) {
    height: auto !important;
    background-color: #fff;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.list-effective-wrapper {
  width: 100%;
  height: auto;
  display: flex;

  @include mq(max_md) {
    background-color: #FF6D03;
    margin-bottom: 0;
    overflow-x: auto;
  }

  .list-effective-item {
    width: calc((100% - 108px) / 3);
    height: auto;
    max-width: 388px;
    margin: 0px 27px;
    padding: 6px;

    &:last-of-type {
      margin-right: 0;
    }

    @include mq(max_md) {
      width: 100%;
      min-width: 300px;
      height: auto;
      margin: 0px 6px;
    }
  }

  .list-effective-item-content {
    display: flex;
    flex-direction: column;

    .list-effective-text {
      width: 100%;
      height: max-content;
      padding: 30px 30px 24px 30px;
      background: #FFFFFF;
      box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
      border-radius: 32px;
      //  background-image: url('../images/comment-background.png');
      // background-position: center center;
      // background-repeat: no-repeat;
      // background-size: auto 100%;
      position: relative;
      margin-bottom: 32px;

      &::after {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: #fff;
        //box-shadow: 6px 5px 9px -9px black, 5px 6px 9px -9px black;
        box-shadow: 6px 1px 1px 0px rgba(0, 0, 0, 0.2);
        bottom: -15px;
        left: 50px;
        transform: rotate(45deg);
        z-index: 1;
      }

      @include mq(max_md) {
        padding: 16px;
        padding-bottom: 20px;
      }

      .text-detail {
        font-style: normal;

        font-size: 18px;
        line-height: 26px;
        color: #1A202C;
        margin: 0;
        padding: 0;
        margin-bottom: 12px;

        @include mq(max_md) {

          font-size: 16px;
          line-height: 22px;
          margin-bottom: 8px;
          ;
        }

      }

      .btn-view-detail {
        text-decoration: none;
        font-style: normal;

        font-size: 18px;
        line-height: 26px;
        color: #FF6D03;

        @include mq(max_md) {
          display: block;
        }
      }
    }

    .description-user-wrapper {
      display: flex;
      margin-top: 12px;
      padding-left: 24px;

      @include mq(max_md) {
        padding-left: 32px;
      }

      .user-image {
        display: block;
        min-width: 80px;
        max-width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 16px;

        @include mq(max_md) {
          min-width: 64px;
          max-width: 64px;
          height: 64px;
        }
      }

      .user-detail {
        display: flex;
        flex-direction: column;

        .username {
          margin: 0;
          padding: 0;
          font-style: normal;

          font-size: 18px;
          line-height: 23px;
          color: #FFFFFF;
          margin-bottom: 6px;

          @include mq(max_md) {

            font-size: 16px;
            line-height: 20px;
            margin-bottom: 4px;
          }
        }

        .age,
        .major {
          margin: 0;
          padding: 0;
          font-style: normal;

          font-size: 18px;
          line-height: 23px;
          color: rgba(255, 255, 255, 0.8);

          @include mq(max_md) {

            font-size: 16px;
            line-height: 20px;
            margin-bottom: 4px;
          }
        }

        .list-star {
          margin: 0;
          padding: 0;
          display: flex;
          margin-top: 6px;
          list-style-type: none;
        }
      }
    }

    .info-info {
      display: flex;

      .user-image {
        display: block;
        min-width: 80px;
        max-width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }

      .user-detail {
        display: flex;
      }
    }
  }
}

.slider-effective-wrapper {
  @include mq(max_md) {
    background-color: #FF6D03;
    padding-top: 50px;
    padding-bottom: 38px;
  }
}


.ic-btn-cutomer {
  background-color: #2971F0 !important;
  border-radius: 16px;
  min-width: 147px;
  font-style: normal;

  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
  padding: 12px 24px;
  display: block;

  &:hover {
    text-decoration: none;
  }
}



.con-register-advisory-customer {
  width: 100%;
  background-color: #FF6D03;
  padding-bottom: 100px;
  padding-top: 60px;
  position: relative;
  top: -1px;
  @include mq(max_md) {
    background-color: #FFB700;
    padding-top: 43px;
    padding-bottom: 39px;
  }
  .box-register {
    @include mq(max_md) {
      margin-bottom: 0 !important;
    }
  }

  .resgister-wrapper {
    width: 100%;
    height: 620px;
    max-height: 620px;
    max-width: 1276px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 48px;

    @include mq(max_md) {
      flex-direction: column;
      height: fit-content;
      max-width: 100%;
      max-height: max-content;
      border-radius: 24px;

    }

    .left-content {
      width: 50%;
      border-radius: 48px 0px 0px 48px;

      @include mq(max_md) {
        width: 100%;
        border-radius: 24px 0px 0px 24px;
      }

      .register-form-common {
        border-radius: 48px;

        @include mq(max_md) {
          border-radius: 24px;
          padding: 24px !important;
          padding-bottom: 26px;
          ;
        }
      }

      .title-register-customer {
        font-style: normal;

        font-size: 32px;
        line-height: 40px;
        text-align: center;
        margin: 0;
        padding: 0;
        text-align: center;
        max-width: 470px;

        /* Gray:900 */

        color: #1A202C;
        margin-bottom: 16px;

        @include mq(max_md) {
          font-style: normal;

          font-size: 20px;
          line-height: 25px;
          max-width: 100%;
        }

      }

      .description-register {

        font-size: 18px;
        line-height: 23px;
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
        ;
        /* identical to box height */

        text-align: center;

        /* Gray:900 */

        color: #1A202C;

        @include mq(max_md) {
          font-style: normal;

          font-size: 16px;
          line-height: 20px;
          margin-bottom: 16px;
          ;
        }
      }
    }

    .right-content {
      width: 50%;
      padding: 87px 83px;
      background: rgba(255, 183, 0, 0.1);
      border-radius: 0px 48px 48px 0px;

      @include mq(max_md) {
        display: none;
      }

      .play-title {
        font-style: normal;

        font-size: 20px;
        line-height: 25px;

        /* Gray:900 */

        color: #1A202C;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        ;
      }
    }
  }
}

.box-player-mobile {
  display: none;
  padding: 33px 0px 49px 0px;

  .play-title-mobile {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1A202C;
    margin-bottom: 16px;

  }


  @include mq(max_md) {
    display: block;
    width: 100%;
  }
}


.list-people-saying-wrapper {
  width: 100%;
  height: auto;
  background-color: #F0F0F0;
  padding: 128px 0px;

  @include mq(max_md) {
    padding: 52px 0px 40px 0px;
  }

  .list-people-saying {
    max-width: 1276px;
    margin: 0 auto;

    @include mq(max_md) {
      min-width: 100%;
      max-width: 100%;
    }
  }

  .title {
    font-style: normal;

    font-size: 32px;
    line-height: 40px;
    text-align: center;

    /* Gray:900 */

    color: #1A202C;
    margin: 0;
    padding: 0;
    margin-bottom: 53px;

    @include mq(max_md) {

      font-size: 24px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 32px;

    }
  }

  .list-people {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include mq(max_md) {
      flex-direction: column;
      justify-content: flex-start;
    }

    .list-item {
      width: calc((100% - 130px) / 3);
      height: auto;

      @include mq(max_md) {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
      }

      .image-wrapper {
        width: 100%;
        min-height: 250px;
        max-height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
          display: block;
          min-width: 293px;
          max-width: 293px;
          height: 250px;
          object-fit: cover;
        }
      }

      .info-detail {
        padding: 24px 0px;
        width: 100%;

        .sub-title {
          margin: 0;
          padding: 0;
          font-style: normal;

          font-size: 18px;
          line-height: 26px;
          /* or 144% */


          /* Gray:900 */

          color: #1A202C;
          margin-bottom: 24px;
          ;

          @include mq(max_md) {
            font-style: normal;

            font-size: 18px;
            line-height: 26px;
            margin-bottom: 8px;
          }
        }

        ul {
          margin: 0;
          padding: 0;
          margin-left: 12px;
          ;

          li {
            font-style: normal;

            font-size: 16px;
            line-height: 20px;
            color: #718096;
            margin-bottom: 12px;

            @include mq(max_md) {

              font-size: 16px;
              line-height: 20px;
              margin-bottom: 8px;
              ;
            }
          }
        }
      }
    }

  }


}

.con-moderators-customer {
  padding: 92px 0px 88px 0px;
  color: #fff;
  margin-top: 100px;
  position: relative;


  .icon-1 {
    position: absolute;
    top: -5%;
    right: 10%;


    @include mq(max_md) {
      display: none;
    }

  }

  .icon-2 {
    position: absolute;
    bottom: -4%;
    left: 10%;


    @include mq(max_md) {
      display: none;
    }

  }

  .icon-3 {
    position: absolute;
    bottom: -4%;
    right: 20%;


    @include mq(max_md) {
      display: none;
    }

  }

  @include mq(max_md) {
    margin-top: 40px;
    padding: 40px 0px;
  }

  .title-customer {
    font-style: normal;

    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;

    @include mq(max_md) {

      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }

  }

  .box-des-customer {
    font-style: normal;

    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 1104px;
    color: #FFFFFF;
    margin: 0px auto 44px;

    @include mq(max_md) {

      font-size: 16px;
      line-height: 22px;
      margin-bottom: 24px;
    }
  }

}


.box-progress-customer {
  @include mq(max_md) {
    .container {
      margin: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .box-bg-progress-customer {
    @include mq(max_md) {
      border-radius: 0 !important;
      background-color: #F2EDE7 !important;
      padding-top: 32px !important;
    }
  }

}


.box-moderator-customer {
  color: #1A202C;
}

.txt-title-customer {
  .time-lesson {
    color: #1A202C !important;
    display: block;

    @include mq(max_md) {
      display: inline-block !important;
    }
  }
}

.txt-step-customer {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #1A202C;
  display: inline-block;
  margin: 0px 8px;

  @include mq(max_md) {
    font-size: 15px;
    margin: 0;
  }
}

// ==========HOME VERSION 2 STYLE ===========


.slider-container-wrapper {
  position: relative;
}

.slider {
  width: 100%;
  height: auto;
}

.intro-slider-item {
  width: 100%;
  height: 780px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include mq(max_md) {
    width: 100%;
    height: 800px;
  }

}

.intro-slider-item-1 {
  background-image: url('../images/background-intro-1.png');

  @include mq(max_md) {
    background-image: url('../images/background-intro-mobile-1.png');
  }
}

.intro-slider-item-2 {
  background-image: url('../images/background-intro-2.png');

  @include mq(max_md) {
    background-image: url('../images/background-intro-mobile-3.png');
  }
}

.intro-slider-item-3 {
  background-image: url('../images/background-intro-3.png');

  @include mq(max_md) {
    background-image: url('../images/background-intro-mobile-2.png');
  }
}

.intro-slider-content {
  padding-top: 100px;

  @include mq(max_md) {
    padding-top: 32px;
  }

  .header-intro-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    @include mq(max_md)  {
      justify-content: center;
      align-items: center;
    }

    .box-intro-item {
      padding: 3px 12px;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      width: fit-content;
      color: #2D3748;

      @include mq(max_md) {
        padding: 4px 8px;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
      }

      &:first-of-type {
        background-color: #fff;
        margin-bottom: 6px;

      }

      &:last-of-type {
        background-color: #FFB700;
        color: #1A202C;
      }
    }
  }

  .main-intro-content {
    margin-top: 112px;
    position: relative;

    @include mq(max_md) {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .main-title {
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 81px;
      color: #FFFFFF;
      margin-bottom: 32px;
      max-width: 653px;

      @include mq(max_md) {
        max-width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 20px;
      }

      &:first-of-type {
        max-width: 577px;

        @include mq(max_md) {
          max-width: 100%;
        }

      }
    }

    .btn-intro {
      padding: 16px 22px;
      background: #2971F0;
      border-radius: 16px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
      min-width: 170px;
      max-width: max-content;

      @include mq(max_md) {
        padding: 11px 20px;
        max-width: 165px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  bottom: -30px;
}

.progress-bar-container-wrapper {
  position: relative;
}

.progressBarContainer {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: max-content;
  display: flex;

  @include mq(max_md) {
    bottom: -20px;
    left: 60px;
  }
}

.progressBarContainer div {
  display: block;
  width: 84px;
  height: 2px;
  padding: 0;
  cursor: pointer;
  margin-right: 4px;
  color: white;
  border: none;
  border-radius: 4px;

  &:last-of-type {
    margin-right: 0;
  }
}

.progressBarContainer div:last-child {
  margin-right: 0;
}

.progressBarContainer div span.progressBar {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  display: block;

  @include mq(max_md) {
    background-color: #CBD5E0;
  }
}

.progressBarContainer div span.progressBar .inProgress {
  background-color: rgba(255, 255, 255, 1);
  width: 0%;
  height: 2px;

  @include mq(max_md) {
    background-color: #FF6D03;
    ;
  }
}

.road-map-block-wrapper {
  background-color: #FFB700;
  padding-bottom: 330px;

  @include mq(max_md) {
    padding-bottom: 43px;
  }

  .road-map-block-content {
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      color: #1A202C;
      margin-bottom: 43px;

      @include mq(max_md) {
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 32px;
      }


    }
  }

  .list-road-map-wrapper {
    width: fit-content;
    height: auto;

    .row-road-map {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
    }

    .road-item {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        min-width: 160px;
        max-width: 160px;
        height: 155px;
        margin-bottom: 18px;

        @include mq(max_md) {
          min-width: 70px;
          max-width: 70px;
          height: 70px;
          margin-bottom: 12px;
        }
      }

      .road-title {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        /* identical to box height */

        text-align: center;

        /* Gray:900 */

        color: #1A202C;
        text-transform: uppercase;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }

    .flex-start {
      justify-content: flex-start !important;
    }

    .road-arrow {
      .arrow-content {
        width: 95px;
        height: 43px;
        background-image: url('../images/background-road-arrow.png');
        background-size: 100%;
        margin: 0px 30px;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 9px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
        color: #1A202C;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq(max_md) {
          width: 49px;
          height: 19px;
          margin: 0px 7px;
          font-style: normal;
          font-weight: 400;
          font-size: 7px;
          line-height: 10px;
          padding: 4px 6px;
        }

      }
    }


    .arrow-reverse {
      transform: rotate(-180deg);
      display: block;
      text-align: center;

    }

    .text-reverse {
      transform: rotate(-180deg);
      display: block;
      text-align: center;
    }

    .middle-row {
      width: 100%;
      height: 122px;
      display: flex;
      justify-content: flex-end;

      @include mq(max_md) {
        width: 100%;
        height: 70px;
        ;
      }
    }

    .arrow-rotate-90 {
      width: 137px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
      min-width: max-content;

      @include mq(max_md) {
        width: 76px;
      }
    }

  }

}

.con-effective-customer-2 {
  width: 100%;
  height: auto;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: -280px;
  left: 0;
  margin-bottom: -280px;

  @include mq(max_md) {
    top: 0;
    left: 0;
    margin-bottom: 0;
  }

  .box-progress {
    margin: 0;
  }

}

.list-package-wrapper {
  padding: 88px 0px;
  width: 100%;
  height: auto;

  @include mq(max_md) {
    padding: 54px 0px;
  }

  .box-card {
    padding: 0;
    background-color: transparent;
  }

  .list-package-title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #1A202C;
    text-align: center;

    margin-bottom: 28px;

    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
    }
  }

  .choose-many-people-block {
    padding: 0px 0px 16px 0px;
    border-bottom: 1px solid #E2E8F0;
    display: flex;
    justify-content: center;
    min-height: 46px;
    max-height: 46px;;

    @include mq(max_md) {
      display: none;
    }

    .choose-label {
      padding: 5px 8px;
      background: #48BB78;
      border-radius: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;

      border: none;
      color: #FFFFFF;
    }
  }

  .list-detail {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 16px;
    width: 100%;

    @include mq(max_md) {
      display: none;
    }
    li {
      display: flex;
      margin-bottom: 16px;


      .icon {
        min-width: 20px;
        max-width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
      }
      .txt {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #1A202C;
        text-align: left;
      }
    }
  }
}

// ===========STYLE PRICING =========
@mixin font-pricing($fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin bg-pricing($deg, $color, $secondaryColor, $value, $secondaryValue) {
  background-image: url("../images/bg-dot-roadmap.svg"),
    linear-gradient($deg, $color $value, $secondaryColor $secondaryValue);
}

.bg-orange {
  @include bg-pricing(99.06deg, #ff6d03, #ff9a03, 0%, 98.55%);
}

.bg-blue {
  @include bg-pricing(99.06deg, #2971f0, #29a8f0, 0%, 98.55%);
}

.bg-green {
  @include bg-pricing(95.64deg, #48bb78, #48b4bb, 5.89%, 95.12%);
}

.bg-yellow {
  @include bg-pricing(99.06deg, #ff9a03, #ffb803, 0%, 98.55%);
}

.btn-orange-1 {
  background: linear-gradient(99.06deg, #ff6d03 0%, #ff9a03 98.55%);
}

.btn-blue {
  background: linear-gradient(99.06deg, #2971f0 0%, #29a8f0 98.55%);
}

.btn-green {
  background: linear-gradient(95.64deg, #48bb78 5.89%, #48b4bb 95.12%);
}

.btn-yellow {
  background: linear-gradient(99.06deg, #ff9a03 0%, #ffb803 98.55%);
}

.box-tittle {
  .tittle {
    @include font-pricing(48px, 61px, 700);
    padding: 30px 0px 30px 10px;

    @include mq(max_md) {
      @include font-pricing(32px, 40px, 700);
      margin-top: 10px;
    }
  }
}

.body-pricing {
  .con-classroom-model {
    margin-bottom: 100px;
  }
}

.box-card {
  background: #F6F8FB;
  padding: 30px 0px 60px;

  @include mq(max_md) {
    padding: 20px 0 10px;
  }

  .card-pricing {
    background: #ffff;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    box-shadow: 0px 6px 16px rgb(0 0 0 / 5%);

    @include mq(max_md) {
      margin: 16px 0;
      display: flex;
      justify-content: space-between;
    }

    .card-pricing-top {
      border-radius: 12px 12px 50% 50%;
      padding: 20px 0 10px;
      color: #ffff;

      @include mq(max_md) {
        order: 1;
        // border-radius: 12px 12px 70% 12px;
        border-radius: 12px;
        max-width: 161px;
        clip-path: polygon(0 0, 100% 0, 76% 100%, 0% 100%);
      }

      .card-gift-title {
        display: none;

        @include mq(max_md) {
          display: block;
          min-width: 146px;
          @include font-pricing(16px, 20px, 400);
          text-align: left;
          margin-left: 15px;
        }
      }

      .card-month {
        margin-top: 0;
        @include font-pricing(32px, 40px, 400);

        @include mq(max_md) {
          @include font-pricing(24px, 30px, 400);
          margin-left: 15px;
          text-align: left;
        }
      }

      .card-numberOfDay {
        @include font-pricing(20px, 25px, 400);

        @include mq(max_md) {
          @include font-pricing(16px, 20px, 400);
          text-align: left;
          margin-left: 15px;
        }
      }
    }
  }

  .card-pricing-content {
    padding: 20px  32px;

    @include mq(max_md) {
      order: 2;
      text-align: right;
      margin-right: 10px;
      padding:  20px 0px;
    }

    .card-pricing-content-cost {
      margin-bottom: 20px;

      .card-cost {
        text-decoration: line-through;
        color: #718096;
        @include font-pricing(20px, 25px, 400);

        @include mq(max_md) {
          margin-bottom: 5px;
          @include font-pricing(16px, 20px, 400);
        }
      }

      .discount {
        background: #2971f0;
        display: none;
        inline-size: fit-content;
        color: #ffff;
        border-radius: 5px;
        padding: 0 5px;
        float: right;

        @include mq(max_md) {
          display: block;
          @include font-pricing(16px, 20px, 400);
        }
      }

      .discount-desktop {
        background: #2971f0;
        inline-size: fit-content;
        color: #ffff;
        border-radius: 5px;
        padding: 0 5px;
        margin-left: 5px;

        @include mq(max_md) {
          display: none;
          @include font-pricing(16px, 20px, 400);
        }
      }

      .card-discount {
        color: #ff6d03;
        margin-top: 8px;
        @include font-pricing(32px, 40px, 700);

        @include mq(max_md) {
          @include font-pricing(24px, 30px, 700);
        }
      }

      .card-amountPerSession {
        color: #718096;
        @include font-pricing(20px, 25px, 500);

        @include mq(max_md) {
          @include font-pricing(16px, 20px, 400);
        }
      }
    }

    .card-gift {
      color: #10b981;
      @include font-pricing(18px, 23px, 400);

      @include mq(max_md) {
        display: none;
      }
    }

    .btn-register {
      border: none;
      color: #ffff;
      padding: 10px 20px;
      border-radius: 12px;
      @include font-pricing(18px, 23px, 400);

      @include mq(max_md) {
        @include font-pricing(16px, 20px, 400);
      }
    }
  }
}

.list-pricing {
  .row {
    justify-content: center;
  }

  .card-cost {
    margin-bottom: 0 !important;
  }

  .card-discount {
    margin: 4px 0px;
  }

  .discount-desktop {
    margin: 0;
  }
}

.box-card {
  .nav-tittle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
  }
  .triangle {
    margin-left: 40px !important;
  }
}