@charset "utf-8";
@import "mixins";
@import "variables";

.product-header-block-wrapper {
  width: 100%;
  height: auto;
  padding-top: 120px;
  padding-bottom: 160px;

  @include mq(max_md) {
    padding-top: 25px;
    padding-bottom: 70px;
  }
}

.product-header-block-content {
  display: flex;
  align-items: center;

  @include mq(max_md) {
    flex-direction: column;
  }
}

.left-block {
  width: 50%;
  max-width: 624px;

  @include mq(max_md) {
    width: 100%;
    max-width: 100%;
  }

  .product-title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    color: rgba(26, 32, 44, 1);
    margin-bottom: 40px;
    max-width: 560px;

    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 24px;
      max-width: 100%;
    }
  }

  .txt-hightlight {
    color: #2971f0;
  }

  .list-content-detail {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      @include mq(max_md) {
        margin-bottom: 24px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .icon {
        min-width: 24px;
        max-width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin-right: 24px;

        @include mq(max_md) {
          margin-right: 16px;
        }
      }

      .txt {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #1a202c;

        @include mq(max_md) {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 23px;
        }
      }
    }
  }
}

.right-block {
  width: 50%;
  padding-left: 50px;

  @include mq(max_md) {
    width: 100%;
    padding-left: 0;
  }

  img {
    min-width: 604px;
    max-width: 604px;
    height: 624px;

    @include mq(max_md) {
      margin-top: 36px;
    }

    @include mq(max_md) {
      min-width: 100%;
      max-width: 100%;
      height: 360px;
    }
  }
}

.mission-block-wrapper {
  width: 100%;
  background: #2971f0;
  border-radius: 0px;
  padding: 100px 0px 80px 0px;

  @include mq(max_md) {
    padding: 40px 0px 30px 0px;
  }

  .mission-block-item {
    width: 50%;
    height: auto;

    @include mq(max_md) {
      width: 100%;
    }
  }

  .mission-block-content {
    width: 100%;
    display: flex;
    align-items: center;

    @include mq(max_md) {
      flex-direction: column-reverse;
    }

    .left-block {
      padding-right: 75px;

      img {
        min-width: 567px;
        max-width: 567px;
        height: 644px;

        @include mq(max_md) {
          min-width: 335px;
          max-width: 335px;
          height: 381px;
        }
      }

      @include mq(max_md) {
        padding-right: 0;
        margin-top: 50px;
      }
    }

    .mission-title {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 61px;

      color: #ffffff;
      margin-bottom: 52px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
      }
    }

    .list-mission-content {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: flex;
        margin-bottom: 40px;

        @include mq(max_md) {
          margin-bottom: 32px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .icon {
          min-width: 24px;
          max-width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: center;
          margin-right: 16px;
          position: relative;
          top: 8px;
          left: 0;

          @include mq(max_md) {
            margin-right: 12px;
          }
        }

        .txt {
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          /* or 160% */

          color: #ffffff;

          @include mq(max_md) {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;

            color: #ffffff;
          }
        }
      }
    }
  }
}

.step-experience-wrapper {
  width: 100%;
  padding: 106px 0px;
  background-color: #fff;

  @include mq(max_md) {
    padding: 48px 0px;
  }

  .step-experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;

    .txt-highlight {
      color: rgba(255, 109, 3, 1);
    }

    .step-experience-title {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 51px;
      /* identical to box height */

      text-align: center;

      color: #1a202c;
      margin-bottom: 64px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 24px;
      }
    }

    .list-step {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;

      @include mq(max_md) {
        flex-direction: column;
      }

      .step-item {
        min-width: 500px;
        max-width: 500px;
        height: auto;
        border-radius: 16px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;

        @include mq(max_md) {
          min-width: 100%;
          max-width: 100%;
          padding-top: 76px;
        }

        &:first-of-type {
          background-color: rgba(255, 109, 3, 0.1);
          margin-right: 70px;

          @include mq(max_md) {
            margin-right: 0;
            margin-bottom: 24px;
          }
        }

        &:last-of-type {
          background-color: rgba(41, 113, 240, 0.1);
        }

        .ribbon-wrapper {
          position: absolute;
          width: 132px;
          height: 65px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          top: 24px;
          left: -8px;
          padding-top: 6px;
          padding-left: 30px;

          @include mq(max_md) {
            width: 132px;
            height: 60px;
            left: -8px;
            padding-top: 8px;
            padding-left: 22px;
          }
        }

        .ribbon-label {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          color: #ffffff;

          @include mq(max_md) {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
          }
        }

        .ribbon-1 {
          background-image: url("../images/ribbon-1.png");
        }

        .ribbon-2 {
          background-image: url("../images/ribbon-2.png");
        }

        .step-title {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */

          text-align: center;

          /* Gray:900 */

          color: #1a202c;
          margin-bottom: 16px;

          @include mq(max_md) {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            max-width: 245px;
          }
        }

        .image-step-1 {
          min-width: 254px;
          max-width: 254px;
          height: 450px;

          @include mq(max_md) {
            min-width: 234px;
            max-width: 234px;
            height: 367px;
          }
        }

        .image-step-2 {
          min-width: 325px;
          max-width: 325px;
          height: 450px;

          @include mq(max_md) {
            min-width: 317px;
            max-width: 317px;
            height: 450px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.class-experience-wrapper {
  width: 100%;
  height: auto;
  padding: 96px 0px 80px 0px;
  background-color: #f5f2eb;

  .class-experience-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .class-experience-title {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      text-align: center;

      /* Gray:900 */

      color: #1a202c;
      margin-bottom: 45px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        margin-bottom: 24px;
      }
    }

    .list-video {
      width: 100%;
      display: flex;
      justify-content: center;

      @include mq(max_md) {
        flex-direction: column;
      }

      .video-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 56px;
        position: relative;

        @include mq(max_md) {
          margin: 0;
          margin-bottom: 24px;
        }

        &:last-of-type {
          margin-right: 0;
        }

        .video-content {
          width: 516px;
          height: 382px;
          position: relative;

          video {
            width: 516px;
            height: 382px;
            @include mq(max_md) {
              width: 100%;
              height: 254px;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          @include mq(max_md) {
            width: 100%;
            height: 254px;
          }

          .main-video {
            width: 100%;
            height: 100%;
            position: absolute;

            video {
              width: 100%;
              height: 100%;
            }
          }
        }

        .video-description {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;

          /* Gray:900 */

          color: #1a202c;
          margin-top: 24px;

          @include mq(max_md) {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            margin-top: 16px;
            text-align: left;
            width: 100%;
          }
        }

        .mask-video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .btn-play {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.student-feedback-wrapper {
  width: 100%;
  height: auto;

  .feed-back-content {
    padding: 150px 0px 100px 0px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mq(max_md) {
      padding: 50px 0px;
    }
  }

  .feed-back-title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #1a202c;
    margin-bottom: 60px;

    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      color: #1a202c;
      margin-bottom: 32px;
    }
  }

  .list-feed-back {
    display: flex;
    justify-content: center;

    @include mq(max_md) {
      max-width: 100%;
      overflow-x: auto;
      justify-content: flex-start;
      padding-bottom: 4px;
    }
  }

  .feed-back-item {
    min-width: 408px;
    max-width: 408px;
    margin-right: 24px;
    position: relative;
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-right: 0;
    }
  }

  .feed-back-item-video {
    width: 100%;
    height: 267px;
    position: relative;

    .video-item {
      width: 100%;
      height: 267px;
    }

    .main-video {
      width: 100%;
      height: 100%;
      background: #d9d9d9;
      border-radius: 8px;
    }

    .video-content {
      width: 100%;
      height: 100%;

      video {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .mask-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-play {
        cursor: pointer;
      }
    }
  }

  .feed-back-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    /* Gray:900 */

    color: #1a202c;
    margin-top: 20px;

    @include mq(max_md) {
      margin-top: 12px;
    }
  }
}

.table-method {
  &__wrapper {
    width: 100%;
    height: auto;
    background-color: #ff6d03;
    padding: 100px 0px 138px 0px;

    @include mq(max_md) {
      padding: 40px 0px 24px 0px;
    }

    .content-wrapper {
      display: flex;
      width: fit-content;
      position: relative;

      @include mq(max_md) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .table-method-image {
      min-width: 260px;
      max-width: 260px;
      height: 205px;
      position: absolute;
      right: -200px;
      bottom: -123px;

      @include mq(max_md) {
        position: relative;
        margin-top: 32px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

    }

    .column-feature {
      width: 50%;
    }

    .column-other {
      width: 25%;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    .column-bitu {
      width: 25%;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 61px;
      text-align: center;

      color: #ffffff;
      max-width: 648px;
      margin-bottom: 32px;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        text-align: left;
        max-width: 100%;
      }
    }
  }
  &__detail {
    min-width: 888px;
    max-width: 888px;
    height: auto;

    @include mq(max_md) {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &__header,
  &__row {
    width: 100%;
    display: flex;
    background: #ffb700;
    border-radius: 16px 16px 0px 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 16px 24px;

    /* Gray:900 */

    color: #1a202c;

    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      padding: 12px;
    }
  }

  &__row {
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    border-radius: 0;

    /* Gray:900 */

    color: #1a202c;

    &:nth-of-type(odd) {
      background-color: #EDF2F7;
    }
    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__last {
    border-radius: 0px 0px 16px 16px;
  }
}
