@charset "utf-8";
$experimental-support-for-svg: true;

$font_main: "Lexend", serif;

$sm: 576px;
$md: 768px; // tablet
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

$primary: '';
$secondary: '';
