@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

.page-kids-wrapper {
  .btn-register {
    min-width: max-content;
    max-width: max-content;
    padding: 14px 22px;
    border-radius: 1000px;
    background: #ff6d03;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-family: SF Pro Rounded Medium;
    font-size: 19px;
    font-style: normal;
    border: none;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    display: block;
    margin: auto;
    outline: none;
    &:focus {
      outline: none;
    }
  }
  .btn-slider {
    display: none;

    @include mq(max_md) {
      display: block;
      top: 45%;
      right: 20px;
    }
  }

  .common-title-with-background {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/text-background.png");

    .title-text {
      color: #1a1a2c;
      position: relative;
      top: 4px;
    }

    .txt-uppercase {
      text-transform: uppercase;
    }
  }
  // block 1 (banner + register)
  .banner-block-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(max_md) {
      justify-content: flex-start;
    }
  }

  .banner-block-wrapper {
    width: 100%;
    height: auto;
    background-image: url("../images/kids-banner-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1130px;
    padding-top: 72px;

    @include mq(max_md) {
      // code mobile
      padding-top: 40px;
      height: auto;
      min-height: 1500px;
      background-image: url("../images/kids-banner-background-mb.png");
    }

    .banner-kids-title {
      color: #2971f0;
      text-align: center;
      font-family: SF Pro Rounded Black;
      font-size: 55px;
      font-style: normal;
      line-height: 72px; /* 144% */
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      max-width: 100%;
      margin: 0 auto;
      filter: drop-shadow(-3px 0 0 #fff) drop-shadow(3px 0 0 #fff)
        drop-shadow(0 -3px 0 #fff) drop-shadow(0 3px 0 #fff)
        drop-shadow(-3px 0 0 #ffb700) drop-shadow(3px 0 0 #ffb700)
        drop-shadow(0 -3px 0 #ffb700) drop-shadow(0 3px 0 #ffb700)
        drop-shadow(8px 8px rgba(0, 0, 0, 0.15));

      @include mq(max_md) {
        max-width: 100%;
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 1px;

        filter: drop-shadow(-2px 0 0 #fff) drop-shadow(2px 0 0 #fff)
          drop-shadow(0 -2px 0 #fff) drop-shadow(0 2px 0 #fff)
          drop-shadow(-2px 0 0 #ffb700) drop-shadow(2px 0 0 #ffb700)
          drop-shadow(0 -2px 0 #ffb700) drop-shadow(0 2px 0 #ffb700);
        // drop-shadow(8px 8px rgba(0, 0, 0, 0.15));
      }
    }

    .title-for-pc {
      display: block;

      @include mq(max_md) {
        display: none;
      }
    }

    .title-for-mb {
      display: none;

      @include mq(max_md) {
        display: block;
      }
    }

    .banner-content {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      padding-top: 80px;

      @include mq(max_md) {
        flex-direction: column;
        padding-top: 20px;
      }
      .left-content {
        min-width: 580px;
        max-width: 580px;
        height: 600px;
        position: relative;
        position: relative;

        @include mq(max_md) {
          min-width: 100%;
          max-width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
        }

        .kid-image-for-pc {
          display: block;
          @include mq(max_md) {
            display: none;
          }
        }
        .kid-image-for-mb {
          display: none;
          position: relative;
          top: 20px;
          @include mq(max_md) {
            display: block;
          }
        }
        .image-background {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          display: flex;
          justify-content: center;

          @include mq(max_md) {
            position: relative;
          }
        }
        .content {
          width: 100%;
          min-height: 700px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 3;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;

          @include mq(max_md) {
            position: relative;
            width: 100%;
            height: auto;
            min-height: max-content;
          }

          .list-option {
            list-style: none;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            transform: rotate(-5deg);

            @include mq(max_md) {
              transform: rotate(0deg);
              position: relative;
              top: -20px;
            }

            .option-item {
              max-width: fit-content;
              display: flex;
              align-items: center;
              padding: 8px 20px 8px 24px;
              border-radius: 1000px;
              border: none;
              background-color: #2971f0;
              color: #fff;
              font-family: SF Pro Rounded Regular;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
              margin-bottom: 10px;

              @include mq(max_md) {
                padding: 8px 10px;
              }

              &:last-child {
                margin-bottom: 0;
              }
              .icon-tick {
                min-width: 32px;
                max-width: 32px;
                height: 32px;
              }

              .option-text {
                margin: 0;
                padding: 0;
              }

              .hight-light {
                font-weight: 700;
                color: #ffd600;
                font-family: SF Pro Rounded Medium;
              }
            }
          }
        }
      }

      .right-content {
        position: relative;
        left: -10px;
        min-width: 450px;
        max-width: 450px;
        min-height: 740px;
        position: relative;
        z-index: 10;
        background-image: url("../images/form-background.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        padding: 60px 30px;
        @include mq(max_md) {
          left: 0;
          margin: auto;
          min-width: 343px;
          max-width: 343px;
          min-height: 530px;
          padding: 40px 24px;
          background-image: url("../images/form-background-mb.png");
        }

        .count-down-timer {
          width: 100%;
          height: auto;
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          margin-bottom: 16px;

          @include mq(max_md) {
            margin-bottom: 24px;
          }

          .timer-item {
            min-width: 90px;
            max-width: max-content;
            height: auto;
            display: flex;
            flex-direction: column;
            border-radius: 16px;
            border: 2px solid #1656c7;
            background: #2971f0;
            padding: 16px;
            margin-right: 12px;

            @include mq(max_md) {
              min-width: 64px;
              padding: 12px;
            }

            &:last-child {
              margin-right: 0;
            }

            .number {
              color: #fff;
              text-align: center;
              font-family: SF Pro Rounded Medium;
              font-size: 40px;
              font-style: normal;
              font-weight: 800;
              line-height: normal;
              margin-bottom: 6px;

              @include mq(max_md) {
                font-size: 32px;
                margin-bottom: 0;
              }
            }

            .label {
              color: #fff;
              text-align: center;
              font-family: SF Pro Rounded Regular;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;

              @include mq(max_md) {
                font-size: 14px;
              }
            }
          }
        }

        .register-title {
          color: #fff;
          font-family: SF Pro Rounded Medium;
          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          letter-spacing: 0.5px;
          filter: drop-shadow(-2px 0 0 #876100) drop-shadow(2px 0 0 #876100)
            drop-shadow(0 -2px 0 #876100) drop-shadow(0 2px 0 #876100);

          @include mq(max_md) {
            font-size: 32px;
          }
        }

        .register-form {
          margin-top: 24px;
          padding: 24px;
          background-color: #fff;
          border-radius: 24px 24px 40px 40px;
          width: 100%;
          height: 400px;

          @include mq(max_md) {
            background-color: transparent;
            height: auto;
            border-radius: 0;
            padding: 0;
          }

          .input-form {
            width: 100%;
            height: auto;
            padding: 14px 24px;
            border-radius: 100px;
            background: #edf2f7;
            border: none;
            outline: none;
            margin-bottom: 12px;
            cursor: pointer;

            &:last-child {
              margin-bottom: 0;
            }
            &:focus {
              outline: none;
            }

            &::placeholder {
              color: #718096;
              text-align: justify;
              font-family: SF Pro Rounded Regular;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

        .bottom-image {
          position: absolute;
          width: 100%;
          height: fit-content;
          left: 0;
          bottom: 60px;

          @include mq(max_md) {
            display: none;
          }

          img {
            min-width: 100%;
            max-width: 380px;
            height: 133px;
            object-fit: contain;
          }
        }
      }
    }
  }

  // block2 (bitu for)

  .title-block-common {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
  }
  .bitu-for-block-wrapper {
    width: 100%;
    border: 1px solid;
    height: 1234px;
    position: relative;

    @include mq(max_md) {
      width: 100%;
      height: 1330px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #ffca00;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: -100px;
      left: 0;
      background-image: url("../images/bitu-for-background.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      z-index: 2;
    }

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .bitu-for-content-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      align-items: center;

      @include mq(max_md) {
        margin-top: 48px;
      }

      .bitu-for-title {
        margin-bottom: 140px;
        width: 748px;
        padding: 16px 0px;
        background-size: 100%;

        @include mq(max_md) {
          width: 343px;
          margin-bottom: 18px;
          font-size: 20px;
          font-weight: bold;
          word-spacing: 5px;
        }

        .title-text {
          font-size: 40px;
          font-weight: bold;
          word-spacing: 10px;
          font-family: SVN-Bango;

          @include mq(max_md) {
            font-size: 20px;
            font-weight: bold;
            word-spacing: 5px;
          }
        }
      }

      .bitu-for-main {
        width: 434px;
        height: 525px;
        border: 1px solid red;
        position: relative;

        @include mq(max_md) {
          width: 100%;
          height: auto;
        }

        .list-option {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 3;

          @include mq(max_md) {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            height: fit-content;
          }

          .option-item {
            position: absolute;
            @include mq(max_md) {
              position: relative;
            }

            &:first-child {
              top: -50px;
              left: -80%;

              @include mq(max_md) {
                top: 0;
                left: 0;
              }
            }

            &:nth-child(2) {
              top: -100px;
              right: -80%;
              @include mq(max_md) {
                top: 0;
                left: 0;
              }
            }
            &:nth-child(3) {
              left: -80%;
              bottom: 100px;
              @include mq(max_md) {
                top: 0;
                left: 0;
              }
            }

            &:last-child {
              bottom: 150px;
              right: -80%;
              @include mq(max_md) {
                top: 0;
                left: 0;
              }
            }
          }
        }

        .main-image-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 2;

          @include mq(max_md) {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: fit-content;
            display: flex;
            justify-content: center;
          }

          .girl-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include mq(max_md) {
              margin: auto;
              display: block;
              width: 321px;
              height: 389px;
            }
          }
        }
      }

      .bottom-icon-wrapper {
        width: 50%;
        height: auto;
        border: 1px solid;
        display: flex;
        justify-content: flex-end;

        @include mq(max_md) {
          width: 100%;
          justify-content: center;
        }

        img {
          width: 227px;
          height: 332px;
          object-fit: cover;
          @include mq(max_md) {
            width: 116px;
            height: 168px;
          }
        }
      }
    }
  }

  // block 3 (learn with foreigner teacher)

  .learn-with-foreigner-teacher-wrapper {
    width: 100%;
    border: 2px solid red;

    padding: 32px 0px;

    @include mq(max_md) {
      padding: 50px 0px 48px;
    }

    .title-block {
      width: 100%;
      display: flex;
      justify-content: center;
      border: 2px solid;
      flex-direction: column;
      align-items: center;
      position: relative;

      @include mq(max_md) {
        display: block;
      }
    }

    .icon-rocket {
      position: absolute;
      width: 171px;
      height: 81px;
      object-fit: cover;
      top: 0;
      left: 67%;
      z-index: 20;
      @include mq(max_md) {
        display: none;
      }
    }
    .title-1 {
      width: 457px;
      height: 84px;
      border: 1px solid red;
      background-image: url("../images/text-background-2.png");
      transform: rotate(-4deg);
      top: 16px;
      z-index: 10;
      position: relative;
      @include mq(max_md) {
        width: 230px;
        height: 42px;
        top: 8px;
      }
      .title-text {
        font-size: 44px;
        line-height: 62px;
        font-family: SVN-Bango;

        @include mq(max_md) {
          font-size: 22px;
          line-height: 32px;
        }
      }
    }

    .title-2 {
      width: 608px;
      height: 92px;
      position: relative;
      background-image: url("../images/text-background-3.png");
      border: 1px solid green;
      left: 160px;

      @include mq(max_md) {
        width: 300px;
        height: 46px;
        left: 70px;
      }

      .title-text {
        font-size: 42px;
        line-height: 60px;
        font-family: SVN-Bango;

        @include mq(max_md) {
          font-size: 21px;
          line-height: 30px;
        }
      }
    }

    .list-feature-of-class {
      width: 100%;
      display: flex;
      justify-content: center;
      border: 2px solid green;
      margin: 56px 0px 51px;

      @include mq(max_md) {
        margin: 28px 0px 16px;
        flex-direction: column;
      }

      .left-content {
        margin-right: 0;
        min-width: 536px;
        height: 322px;
        border: 2px solid red;
        background-image: url("../images/video-1-background.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        @include mq(max_md) {
          margin-right: 0;
          margin-bottom: 16px;
          min-width: 343px;
          height: 210px;
        }
      }

      .right-content {
        .list-option-of-class {
          list-style: none;

          .option-of-class-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 12px;

            &:last-child {
              margin-bottom: 0;
            }

            @include mq(max_md) {
              align-items: center;
            }

            .icon-tick {
              min-width: 40px;
              height: 40px;
              object-fit: cover;
              margin-right: 12px;

              @include mq(max_md) {
                min-width: 32px;
                max-width: 32px;
                height: 32px;
              }
            }

            .text {
              color: #1a202c;
              font-family: SF Pro Rounded Medium;
              font-size: 28px;
              font-style: normal;
              font-weight: 500;
              line-height: 36px;
              max-width: 356px;

              @include mq(max_md) {
                font-size: 20px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }

  // block 4 ( (learn with foreigner teacher 2)
  .list-kid-student-wrapper {
    width: 100%;
    height: 832px;
    background-image: url("../images/list-kid-student-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 66px;
    position: relative;
    z-index: 2;
    @include mq(max_md) {
      padding: 52px 0px 47px;
      background-image: none;
      background-color: #ff6d03;
      height: auto;
    }

    .title-block-wrapper {
      width: fit-content;
      display: flex;
      border: 2px solid;
      flex-direction: column;
      position: relative;
      margin: auto;
      margin-bottom: 60px;
      @include mq(max_md) {
        display: block;
        margin-bottom: 32px;
      }
    }

    .title-1 {
      width: 460px;
      height: 98px;
      border: 1px solid red;
      background-image: url("../images/text-background-4.png");
      background-size: 100% 100%;
      top: 28px;
      transform: rotate(-1deg);
      z-index: 9;
      left: 48px;
      position: relative;
      @include mq(max_md) {
        width: 280px;
        height: 50px;
        top: 8px;
        left: 24px;
      }
      .title-text {
        color: #1a1a2c;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        transform: rotate(-2deg);

        @include mq(max_md) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    .title-2 {
      width: 870px;
      height: 98px;
      position: relative;
      background-image: url("../images/text-background-5.png");
      border: 1px solid green;
      background-size: 100% 90%;
      // left: 160px;
      z-index: 10;

      @include mq(max_md) {
        width: 319px;
        height: 71px;
        // left: 70px;
      }

      .title-text {
        color: #1a1a2c;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        @include mq(max_md) {
          font-size: 21px;
          line-height: 30px;
        }
      }
    }

    .list-class-of-kid-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .list-class-of-student {
        min-width: 1278px;
        max-width: 1278px;
        display: flex;

        @include mq(max_md) {
          min-width: 324px;
          max-width: 324px;
        }

        .class-item {
          min-width: 410px;
          max-width: 410px;
          height: 300px;
          background-image: url("../images/video-background-2.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include mq(max_md) {
            min-width: 320px;
            max-width: 320px;
            height: 218px;
            margin-right: 0;
          }

          .video-item {
            min-width: 319px;
            max-width: 319px;
            height: 217px;
            border: 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mq(max_md) {
              min-width: 229px;
              max-width: 229px;
              height: 159px;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  // block 5 (bitu recommend)
  .bitu-recommend-wrapper {
    width: 100%;
    height: auto;
    border: 1px solid;
    position: relative;
    z-index: 1;
    padding-bottom: 60px;

    @include mq(max_md) {
      padding-bottom: 40px;
    }

    .title-block-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;

      @include mq(max_md) {
        margin-bottom: 0;
      }
    }

    .recommend-title {
      width: 666px;
      height: 100px;
      background-image: url("../images/text-background-6.png");

      .title-text {
        color: #1a1a2c;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        @include mq(max_md) {
          font-size: 21px;
          line-height: 30px;
        }
      }
    }

    .bitu-recommend-list-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .bitu-recommend-list {
        min-width: 1273px;
        max-width: 1273px;
        display: flex;
        border: 1px solid red;
        @include mq(max_md) {
          min-width: 324px;
          max-width: 324px;
        }

        .class-item {
          min-width: 634px;
          max-width: 634px;
          height: 419px;
          background-image: url("../images/video-background-3.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include mq(max_md) {
            min-width: 320px;
            max-width: 320px;
            height: 218px;
            margin-right: 0;
          }

          .video-item {
            min-width: 488px;
            max-width: 488px;
            height: 292px;
            border: 1px solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include mq(max_md) {
              min-width: 229px;
              max-width: 229px;
              height: 159px;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  // block 6 (bitu recommend using2)
  .bitu-recommend-wrapper-2 {
    background-image: url("../images/banner-teacher-background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 979px;
    padding-top: 105px;

    .title-block-wrapper {
      width: fit-content;
      display: flex;
      border: 2px solid;
      flex-direction: column;
      position: relative;
      margin: auto;
      margin-bottom: 36px;
      @include mq(max_md) {
        display: block;
        margin-bottom: 40px;
      }
    }

    .title-1 {
      width: 770px;
      height: 98px;
      border: 1px solid red;
      background-image: url("../images/text-background-5.png");
      background-size: 100% 100%;
      z-index: 9;
      position: relative;
      @include mq(max_md) {
        width: 350px;
        height: 80px;
      }
      .title-text {
        color: #1a1a2c;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        transform: rotate(-2deg);

        @include mq(max_md) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    .title-2 {
      width: 758px;
      height: 160px;
      position: relative;
      background-image: url("../images/text-background-6.png");
      border: 1px solid green;
      background-size: 100% 90%;
      transform: rotate(2deg);
      left: 86px;
      z-index: 10;
      top: -10px;

      @include mq(max_md) {
        width: 350px;
        height: 124px;
        transform: rotate(4deg);
        left: 0;
        z-index: 10;
        top: -10px;
      }

      .title-text {
        color: #1a1a2c;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        // max-width: 562px;
        @include mq(max_md) {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
    .item-wrapper {
      border: 1px solid;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      .text-description {
        margin: 0;
        padding: 0;
        color: #000;
        text-align: center;
        font-family: SF Pro Rounded Medium;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include mq(max_md) {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
        }
      }
    }
    @include mq(max_md) {
      background-image: none;
      min-height: auto;
      padding-top: 0;
    }
  }

  // block 7 (learn online english at home)
  .learn-at-home-wrapper {
    width: 100%;
    height: auto;

    .learn-at-home-content {
      height: 500px;
      background-image: url("../images/learn-at-home-backgroun.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 90px;
      @include mq(max_md) {
        height: auto;
        padding-top: 40px;
        background-image: none;
        background-color: #385fca;
      }
    }
    .learn-at-home-title {
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 30px;
      line-height: 38px;
      font-family: BeVietnamPro-Black;
      text-transform: uppercase;
      margin: auto;
      margin-bottom: 40px;
      .text-highlight {
        color: #ffca00;

        @include mq(max_md) {
          display: block;
        }
      }

      @include mq(max_md) {
        text-align: center;
        font-family: SF Pro Rounded Medium;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 36px; /* 150% */
        text-transform: uppercase;
        margin-bottom: 32px;
      }
    }

    .bottom-content {
      width: 100%;
      padding-top: 24px;
      background-color: #385fca;
      padding-bottom: 66px;
      position: relative;
      z-index: 999;
      top: -62px;

      @include mq(max_md) {
        top: 0;
        padding: 0px 0px 40px;
      }
    }
    .list-advantage {
      display: flex;
      justify-content: center;

      .advantage-content {
        display: flex;

        @include mq(max_md) {
          flex-direction: column;
        }

        .advantage-item {
          min-width: 300px;
          max-width: 300px;
          height: auto;
          border-radius: 8px;
          background-color: #fff;
          margin-right: 12px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include mq(max_md) {
            min-width: 100%;
            max-width: 100%;
            flex-direction: row;
            padding: 32px 20px 32px 32px;
            margin-right: 0;
            margin-bottom: 16px;
          }

          .text {
            font-size: 23px;
            line-height: 34px;
            margin-top: 8px;
            font-family: BeVietnamPro-Medium;
            max-width: 266px;

            @include mq(max_md) {
              color: #1a202c;
              font-family: SF Pro Rounded Regular;
              font-size: 22px;
              font-style: normal;
              font-weight: 500;
              line-height: 30px; /* 136.364% */
              margin-top: 0;
              margin-left: 32px;
            }
          }
          .highlight {
            color: #385fca;

            @include mq(max_md) {
              font-family: SF Pro Rounded Medium;
            }
          }

          &:first-child {
            img {
              min-width: 85px;
              max-width: 85px;
              height: 121px;

              @include mq(max_md) {
                min-width: 80px;
                max-width: 80px;
                height: 114px;
              }
            }
          }

          &:nth-child(2) {
            img {
              min-width: 153px;
              max-width: 153px;
              height: 120px;

              @include mq(max_md) {
                min-width: 111px;
                max-width: 111px;
                height: 87px;
              }
            }
          }

          &:last-child {
            margin-right: 0;

            img {
              min-width: 89px;
              max-width: 89px;
              height: 119px;

              @include mq(max_md) {
                min-width: 76px;
                max-width: 76px;
                height: 103px;
              }
            }
          }
        }
      }
    }
  }

  // block 8 (ensure)
  .ensure-block-wrapper {
    width: 100%;
    height: 955px;
    background-image: url("../images/ensure-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
    margin-top: -62px;

    padding: 127px 0px 74px;

    @include mq(max_md) {
      padding: 47px 0px 72px;
      height: auto;
      margin-top: 0;
      background-image: none;
      background-color: #2971f0;
    }

    .ensure-block-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .title-block-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;

      @include mq(max_md) {
        margin-bottom: 14px;
      }
    }

    .ensure-title {
      width: 902px;
      height: 100px;
      background-image: url("../images/text-background-11.png");

      @include mq(max_md) {
        background-image: url("../images/text-background-12.png");
        width: 100%;
        height: 132px;
        max-width: 328px;
      }
      .title-text {
        color: #1a1a2c;
        text-align: center;
        font-family: SF Pro Rounded Black;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        @include mq(max_md) {
          font-size: 22px;
          line-height: 32px;
        }
      }
    }

    .ensure-description {
      color: #fff;
      text-align: center;
      font-family: SF Pro Rounded Black;
      font-size: 36px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 6px;

      @include mq(max_md) {
        font-size: 24px;
        text-align: center;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: 32px;
        margin-bottom: 24px;
      }
    }
    .list-step-wrapper {
      display: flex;
      justify-content: center;

      .list-step {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq(max_md) {
          flex-direction: column;
        }

        .step-item {
          min-width: 315px;
          max-width: 315px;
          min-height: 260px;
          margin-right: 30px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 50px 37px 0px 42px;

          .text {
            margin: 0;
            padding: 0;
            color: #fff;
            font-family: SF Pro Rounded;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          &:first-child {
            // padding-top: 93px;
            background-image: url("../images/step-1-background.png");
          }

          &:nth-child(2) {
            // padding-top: 108px;
            background-image: url("../images/step-2-background.png");
          }

          &:last-child {
            // padding-top: 108px;
            background-image: url("../images/step-3-background.png");
          }

          @include mq(max_md) {
            margin-right: 0;
            margin-bottom: 24px;
          }
        }
      }
    }

    .ensure-text-wrapper {
      width: fit-content;
      max-width: 1096px;
      position: relative;
      border: 1px solid red;
      margin: 46px auto 40px;

      @include mq(max_md) {
        margin: 24px auto 36px;
        margin-top: 0;
      }

      .text-description {
        padding: 26px 40px;
        padding-right: 130px;
        color: #fff;
        font-family: SF Pro Rounded Medium;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        border-radius: 32px;
        border: 4px solid #004483;
        background: #ff6d03;
        line-height: 32px; /* 133.333% */

        @include mq(max_md) {
          padding: 24px;
          font-family: SF Pro Rounded Regular;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          min-width: 100%;
          max-width: 100%;
        }
      }

      .icon-bitu-6 {
        min-width: 257px;
        max-width: 257px;
        height: 290px;
        object-fit: cover;
        position: absolute;
        bottom: -80%;
        right: -15%;

        @include mq(max_md) {
          min-width: 112px;
          max-width: 112px;
          height: 126px;
          bottom: -30%;
          right: 0;
        }

        @media (max-width: 360px) {
          display: none;
        }
      }
    }

    .register-block {
      @include mq(max_md) {
        display: flex;
        width: 100%;
        justify-content: flex-start;
      }
    }

    .btn-register {
      color: #1a202c;
      font-family: SF Pro Rounded;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include mq(max_md) {
        margin: unset;
      }
    }
  }

  // block 9 (survey)
  .survey-block-wrapper {
    height: auto;
    width: 100%;
    background-image: url("../images/survey-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 95px;

    @include mq(max_md) {
      padding: 45px 0px 38px;
      position: relative;
      padding-bottom: 136px;
      height: auto;
      background-image: none;
      background-color: #ffb700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .survey-block-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title-block-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 36px;

      @include mq(max_md) {
        margin-bottom: 14px;
      }
    }

    .survey-title {
      width: 902px;
      height: 153px;
      background-image: url("../images/text-background-13.png");

      @include mq(max_md) {
        background-image: url("../images/text-background-14.png");
        height: 132px;
        min-width: 100%;
        max-width: 328px;
      }
      .title-text {
        color: #fff;
        text-align: center;
        font-family: SF Pro Rounded Black;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        max-width: 648px;
        @include mq(max_md) {
          max-width: 100%;
          font-size: 22px;
          max-width: 237px;
          line-height: 32px;
        }
      }
    }

    .main-content {
      width: 100%;
      display: flex;
      justify-content: center;
      border: 2px solid blue;

      @include mq(max_md) {
        flex-direction: column;
      }

      .left-content {
        width: fit-content;
        border: 3px solid green;
        margin-right: 6px;
        height: 398px;
        min-width: 689px;
        background-image: url("../images/message-background.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #1a202c;
        font-family: SF Pro Rounded Medium;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        text-align: left;
        line-height: 32px; /* 160% */
        @include mq(max_md) {
          height: 497px;
          min-width: 100%;
          max-width: 100%;
          font-size: 19px;
          line-height: 24px;
          margin-bottom: 24px;
          background-image: url("../images/message-background-mb.png");
        }

        .content-wrapper {
          width: 100%;
          height: 100%;
          border: 1px solid;
          max-width: fit-content;
          height: fit-content;

          @include mq(max_md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }

        .top-content {
          max-width: 450px;
          margin-bottom: 12px;
          border: 1px solid red;
          width: 100%;

          @include mq(max_md) {
            max-width: 237px;
            margin-bottom: 6px;
          }
        }

        .detail-content {
          max-width: 510px;
          border: 1px solid green;
          list-style: none;
          padding-top: 8px;
          padding-left: 12px;

          @include mq(max_md) {
            padding: 0;
            max-width: 72%;
          }

          li {
            display: flex;
            align-items: center;

            @include mq(max_md) {
              align-items: flex-start;
            }
            .dot {
              min-width: 6px;
              max-width: 6px;
              height: 6px;
              border: none;
              border-radius: 50%;
              background-color: #1a202c;
              margin-right: 12px;

              @include mq(max_md) {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .register-bottom {
        width: 100%;
        height: auto;
        border: 2px solid green;
        padding-top: 32px;

        .btn-register {
          background-color: #2971f0;
        }

        @include mq(max_md) {
          position: absolute;
          bottom: 38px;
          left: 0;
          padding-top: 0;
          width: 100%;
        }
      }

      .right-content {
        max-width: fit-content;
        min-width: fit-content;
        position: relative;
        border: 2px solid;

        @include mq(max_md) {
          // margin: auto;
        }

        @media (max-width: 360px) {
          margin: auto;
        }
        .survey-image {
          min-width: 424px;
          height: 610px;
          max-width: 424px;
          object-fit: cover;
          position: relative;
          border: 2px solid;

          @include mq(max_md) {
            min-width: 252px;
            max-width: 252px;
            height: 362px;
          }
        }

        .icon-bitu-7 {
          position: absolute;
          top: 50%;
          right: -12%;
          min-width: 234px;
          height: 250px;
          max-width: 234px;
          object-fit: contain;

          @include mq(max_md) {
            min-width: 204px;
            max-width: 204px;
            height: 203px;
            right: -30%;
          }

          @media (max-width: 360px) {
            display: none;
          }
        }
      }
    }
  }

  // block 10 (price)
  .price-block-wrapper {
    width: 100%;
    height: 950px;
    border: 2px solid red;
    background-image: url("../images/price-background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 83px 0px 101px;

    @include mq(max_md) {
      padding: 61px 0px 94px;
      height: auto;
      background-image: none;
      background-color: #2971f0;
    }

    .list-option {
      width: 100%;

      .option-item {
        display: flex;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }

        .icon-tick {
          min-width: 32px;
          max-width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 8px;
        }
        .text {
          color: #fff;
          font-family: SF Pro Rounded Medium;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }

    .title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title-1 {
      margin-bottom: 16px;

      @include mq(max_md) {
        margin-bottom: 20px;
      }
    }

    .title-2 {
      margin-bottom: 63px;
      @include mq(max_md) {
        margin-bottom: 20px;
      }
    }

    .list-option-for-mb {
      display: none;
      @include mq(max_md) {
        display: block;
        width: 100%;
        margin-bottom: 40px;
      }
    }

    .list-price {
      width: 100%;
      display: flex;
      justify-content: center;

      @include mq(max_md) {
        flex-direction: column;
      }

      .price-item {
        min-width: 408px;
        max-width: 408px;
        height: auto;
        margin-right: 24px;
        border-radius: 32px;
        padding: 24px 24px 40px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3);

        @include mq(max_md) {
          min-width: 100%;
          max-width: 100%;
          margin-right: 0;
          margin-bottom: 32px;
          box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.3);
        }
        &:first-child {
          background: #f29744;
        }

        &:nth-child(2) {
          background: #2cadd5;
        }
        &:last-child {
          border-radius: 32px;
          background: #e5485d;
          margin-right: 0;
          margin-bottom: 0;
        }

        .month {
          min-width: 314px;
          height: 67px;
          background-image: url("../images/text-background-15.png");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;

          .value {
            color: #1a1a2c;
            text-align: center;
            font-family: SF Pro Rounded Black;
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
          }
        }

        .list-detail {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: center;

          margin: 24px 0px;

          .detail-value-item {
            min-width: 168px;
            max-width: 168px;
            height: auto;
            padding: 24px 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 24px;
            border: 2px solid #1a202c;
            background: #fff;
            margin-right: 24px;

            @include mq(max_md) {
              min-width: 160px;
              max-width: 160px;
              margin-right: 16px;
            }

            &:last-child {
              margin-right: 0;
            }

            .image-flag {
              min-width: 32px;
              max-width: 32px;
              object-fit: cover;
              border: none;
              border-radius: 50%;
              height: 32px;
            }

            .teacher-label {
              color: #1a202c;
              text-align: center;
              min-width: max-content;
              font-family: SF Pro Rounded Medium;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin: 8px 0px 10px;
            }

            .lesson-label {
              color: #ff6d03;
              text-align: center;
              font-family: SF Pro Rounded;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .lesson-count {
              margin-bottom: 4px;
            }

            .lesson-price {
              margin-bottom: 8px;
            }

            .sub-value {
              color: #1a202c;
              text-align: center;
              font-family: SF Pro Rounded Regular;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }

        .list-option {
          @include mq(max_md) {
            display: none;
          }
        }

        .item-footer {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 24px;

          @include mq(max_md) {
            margin-top: 0;
          }
          .btn-choose {
            min-width: 246px;
            max-width: 246px;
            color: #1a202c;
            font-family: SF Pro Rounded Medium;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 16px 0px;
            text-align: center;
            border-radius: 1000px;
            border: 2px solid #1a202c;
            background: #fff;
            cursor: pointer;
            text-transform: uppercase;
            box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  // block 11 (teacher team of bitu)

  .teacher-team-of-bitu-wrapper {
    width: 100%;
    border: 1px solid;
    height: auto;
    padding: 105px 0px 43px;

    .btn-slider {
      display: block !important;

      @include mq(max_md) {
        display: block;
        top: 45%;
        right: 20px;
      }
    }

    @include mq(max_md) {
      padding: 75px 0px 72px;
    }

    .list-foreigner-teacher {
      margin-top: 90px;

      @include mq(max_md) {
        margin-top: 40px;
      }
    }

    .top-content {
      width: 100%;
      border: 1px solid;
      margin-bottom: 40px;

      @include mq(max_md) {
        margin-bottom: 30px;
      }
    }

    .teacher-team-title {
      font-size: 36px;
      text-transform: uppercase;
      font-family: BeVietnamPro-Bold;
      color: #f15a29;
      text-align: center;
      margin-bottom: 50px;

      @include mq(max_md) {
        color: #ff6d03;
        text-align: center;
        font-family: SF Pro Rounded;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
    }

    .core-value-list-wrapper {
      display: flex;
      justify-content: center;
      border: 1px solid green;

      @include mq(max_md) {
        flex-direction: column;
      }

      .left-icon {
        margin-right: 50px;

        @include mq(max_md) {
          display: none;
        }
        .icon-bitu {
          min-width: 234px;
          max-width: 234px;
          height: 313px;
        }
      }

      .core-value-list {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 37px;
          max-width: 650px;

          @include mq(max_md) {
            max-width: 100%;
            align-items: flex-start;
            margin-bottom: 24px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          .target-image {
            min-width: 63px;
            max-width: 63px;
            height: 63px;
            object-fit: cover;
            margin-right: 20px;

            @include mq(max_md) {
              min-width: 44px;
              max-width: 44px;
              height: 44px;
              margin-right: 16px;
              position: relative;
              top: 4px;
            }
          }

          .text {
            font-size: 24px;
            line-height: 40px;
            color: #282828;
            font-family: BeVietnamPro-Medium;

            @include mq(max_md) {
              color: #1a202c;
              font-family: SF Pro Rounded Medium;
              font-size: 22px;
              font-style: normal;
              font-weight: 500;
              line-height: 30px; /* 136.364% */
            }
          }
        }
      }
    }
  }

  // block 15 (register2)
  .register-block-2-wrapper {
    width: 100%;
    min-height: 750px;
    background-image: url("../images/register-background-image-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;

    @include mq(max_md) {
      margin-top: 60px;
    }
  }
}
