@charset "utf-8";
@import "variables";
@import "mixins";

.page-review-wrapper {
  // common

  .mr-b-8 {
    margin-bottom: 8px;
  }

  .mr-t-16 {
    margin-top: 16px;
  }
  .mr-b-12 {
    margin-bottom: 12px;
  }
  .mr-b-24 {
    margin-bottom: 24px;
  }

  .mr-b-44 {
    margin-bottom: 44px;
  }
  .mr-b-16 {
    margin-bottom: 16px;
  }

  .max-width-730 {
    max-width: 730px;
  }

  .title-for-pc {
    display: block;

    @include mq(max_lg) {
      display: none;
    }
  }

  .review-title-mb-2 {
    max-width: 303px;
    height: 73px;
  }
  .review-title-mb-1 {
    max-width: 253px;
    height: 73px;
  }
  .review-title-mb-3 {
    max-width: 292px;
    height: 66px;
  }
  .review-title-mb-4 {
    max-width: 304px;
    height: 66px;
  }

  .review-title-mb-5 {
    max-width: 275px;
    height: 73px;
  }
  .review-title-mb-6 {
    max-width: 318px;
    height: 73px;
  }

  .review-title-mb-8 {
   width: 308px;
height: 78px;
  }
  .review-title-mb-9 {
    width: 251px;
height: 78px;
  }

  .title-image-for-mb {
    display: none;

    @include mq(max_lg) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .review-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .review-title-image {
      object-fit: cover;
    }

    .title-1 {
      min-width: 905px;
      max-width: 905px;
      height: 113px;
    }
  }
  // block 1
  .real-people-and-things-block {
    width: 100%;
    height: auto;
    position: relative;
    padding: 80px 0px 90px;

    @include mq(max_lg) {
      padding: 37px 0px 50px;
    }

    .background-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      z-index: 2;
      background: linear-gradient(95deg, #ff6d03 0%, #9591ec 100%);
    }

    .feedback-list-slider-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      .slick-list {
        max-width: 1272px;
        @include mq(max_lg) {
          max-width: 100%;
        }
      }
    }

    .real-people-and-things-content {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9999;
      position: relative;
    }

    .feed-back-list-wrapper {
      width: 100%;
      margin-top: 60px;

      @include mq(max_md) {
        margin-top: 32px;
      }

      width: 100%;
      display: flex;
      justify-content: center;

      .feed-back-item {
        min-width: 300px;
        max-width: 300px;
        height: 100%;
        margin-right: 24px;

        &:last-child {
          margin-right: 0;
        }

        .user-info-wrapper {
          width: 100%;
          height: auto;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          color: #1a202c;
          font-weight: 500;
          line-height: normal;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 16px;
        }

        .username {
          font-size: 20px;
          font-style: normal;
          line-height: normal;
          font-family: SF Pro Rounded Medium;
          text-transform: uppercase;
          margin-bottom: 8px;
        }

        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: SF Pro Rounded Regular;

          p {
            margin: 0;
            padding: 0;
          }
        }

        .feed-back-content {
          width: 100%;
          height: auto;
          border-radius: 16px;

          .user-image {
            width: 100%;
            height: 300px;
            border-radius: 16px 16px 0px 0px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 16px 16px 0px 0px;
            }
          }

          .feed-back-detail-wrapper {
            padding: 12px 16px 16px 16px;
            min-height: 170px;
            background-color: #ff6d03;
            border-radius: 0px 0px 16px 16px;
            font-family: SF Pro Rounded Regular;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .feed-back-detail {
              margin-bottom: 36px;
            }
          }
        }
      }
    }
  }

  // block 2

  .success-story-block {
    width: 100%;
    min-height: auto;
    background-image: url("../images/banner-teacher-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 90px 0px;

    @include mq(max_md) {
      padding: 80px 0px 50px;
    }

    .title-2 {
      min-width: 980px;
      max-width: 100px;
    }

    .list-story {
      margin-top: 90px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 85px 24px;

      @include mq(max_lg) {
        margin-top: 45px;
        gap: 16px 0px;
      }

      .story-item {
        min-width: 408px;
        height: auto;
        max-width: 408px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid red;
        @include mq(max_lg) {
          min-width: unset;
          max-width: 343px;
          width: 100%;
          margin-bottom: 24px;
          margin-right: 0;
        }
        .story-image {
          width: 100%;
          height: 297px;
          border-radius: 24px;
          border: 1px solid #cbd5e0;
          object-fit: cover;
          margin-bottom: 16px;
          @include mq(max_lg) {
            height: 250px;
          }
        }

        .story-title {
          text-align: center;
          font-family: SF Pro Rounded Regular;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          color: #1a202c;
        }

        .btn-view-more {
          padding: 12px 24px;
          border-radius: 1000px;
          border: 1px solid #ff6d03;
          background: #fff;
          font-family: SF Pro Rounded;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          color: #ff6d03;
          display: flex;
          align-items: center;
          text-decoration: none;

          cursor: pointer;
          box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);

          span {
            margin-right: 4px;
          }
        }
      }
    }
  }

  // block 3

  .parents-feed-back-block {
    background-image: url("../images/grid-background.png");
    padding: 80px 0px 68px;

    @include mq(max_lg) {
      background-image: none;
      background-color: #ff6d03;
      padding: 54px 0px 73px;
    }
  }

  // block 4
  .student-feed-back-block {
    background-image: url("../images/banner-teacher-background.png");
    padding: 150px 0px 180px;
    @include mq(max_lg) {
      background-image: none;
      padding: 0;
      padding: 56px 0px 110px;
    }
  }

  .feedback-block {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include mq(max_md) {
      // change here
    }

    .review-title-7 {
      width: 712.348px;
      height: 100px;
      margin-bottom: 12px;
    }

    .feed-back-list-wrapper {
      margin-top: 55px;
      display: flex;
      justify-content: center;
      position: relative;

      @include mq(max_lg) {
        margin-top: 32px;
      }
    }

    .feed-back-list {
      max-width: 1296px;
      display: flex;
      overflow-y: hidden;
      justify-content: center;

      .feed-back-item {
        min-width: 300px;
        max-width: 300px;
        height: fit-content;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.18);
        margin: 0px 12px;
        display: flex;
        justify-content: center;
        padding: 26px 0px;
        margin-bottom: 20px;

        .feed-back-image {
          min-width: 269px;
          max-width: 269px;
          height: 480px;
          object-fit: cover;
        }
      }
    }
  }
}
