@charset "utf-8";
@import "variables";
@import "mixins";

.page-teacher-wrapper {
  width: 100%;
  border: 1px solid red;
  margin-top: 45px;
  padding-bottom: 145px;
  background-color: transparent;

  @include mq(max_md) {
    margin-top: 28px;
  }
  .top-content {
    width: 100%;
    height: auto;
    background-image: url("../images/banner-teacher-background.png");
    width: 100%;
    min-height: 755px;
    max-height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 1px solid red;
  }

  .title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-1000 {
    min-width: 324px;
    max-width: 324px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  .list-top-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid red;
  }

  .list-option {
    width: 100%;
    height: auto;
    border: 1px solid red;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;

    @include mq(max_md) {
      // change here
      margin-top: 48px;
      flex-direction: column;
      margin-top: 24px;
    }

    .option-item {
      min-width: 408px;
      max-width: 408px;
      max-height: 157px;
      border: 1px solid red;
      padding: 40px 14px;
      border-radius: 32px;
      background: #fff0da;
      box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: flex-start;
      margin-right: 24px;

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
        max-height: fit-content;
        margin-right: 0;
        margin-bottom: 20px;
      }

      &:first-child {
      }

      &:nth-child(2) {
        background-color: #daf6ff;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
        background-color: #ffdade;
      }
      .icon-tick {
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        object-fit: cover;
        margin-right: 8px;
      }

      .option-content {
        color: #1a202c;
        font-family: SF Pro Rounded;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
