@charset "utf-8";
@import "variables";
@import "mixins";

.page-teacher-wrapper {
  width: 100%;
  margin-top: 45px;
  padding-bottom: 145px;
  background-color: transparent;

  @include mq(max_md) {
    margin-top: 28px;
  }

  .main-content-wrapper {
    position: relative;
  }
  .top-content {
    width: 100%;
    height: auto;
    background-image: url("../images/banner-teacher-background.png");
    width: 100%;
    min-height: max-content;
    max-height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-1000 {
    min-width: 324px;
    max-width: 324px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 16px;

    @include mq(max_lg) {
      width: 226.8px;
      height: 70px;
    }
  }

  .list-top-wrapper {
    display: flex;
    justify-content: center;
  }

  .list-option {
    width: 100%;
    height: auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;

    @include mq(max_md) {
      // change here
      margin-bottom: 48px;
      flex-direction: column;
      margin-top: 24px;
    }

    .option-item {
      min-width: 408px;
      max-width: 408px;
      max-height: 157px;
      padding: 40px 14px;
      border-radius: 32px;
      background: #fff0da;
      box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: flex-start;
      margin-right: 24px;

      @media (max-width: 1400px) {
        min-width: calc((100% - 48px) / 3);
        max-width: calc((100% - 48px) / 3);
      }

      @include mq(max_md) {
        min-width: 100%;
        max-width: 100%;
        max-height: fit-content;
        margin-right: 0;
        margin-bottom: 20px;
      }

      &:first-child {
      }

      &:nth-child(2) {
        background-color: #daf6ff;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
        background-color: #ffdade;
      }
      .icon-tick {
        min-width: 32px;
        max-width: 32px;
        height: 32px;
        object-fit: cover;
        margin-right: 8px;
      }

      .option-content {
        color: #1a202c;
        font-family: SF Pro Rounded Regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .philippine-teacher-list-wrapper {
    margin-top: 95px;
    position: relative;
    @include mq(max_lg) {
      margin-top: 42px;
    }
  }
}
